  
<div id="EM_FONT_SIZE_HERE" class="XXrow">
	{% section 'home-hero' %}
</div>

{% section 'home-headline' %}

{% section 'home-hero-threesome' %}

{% comment %}{% section 'hero-row-one-cell' %}{% endcomment %}

{{ content_for_index }}

{% section 'weve-got-you' %}
