<h1 id="gallery_title" class="first_title">{{ page.title }}</h1>

<div id="gallery_content" class="rte text_content">
  {{ page.content }}
</div>

{% section 'gallery' %}

{% section 'gallery-modal' %}
