

	{% section 'faq' %}


	{% comment %}
	<!-- ============================ SECTION 1 =========================== -->

	<div class="question-block custom__item">
		<div class="custom__item-inner custom__item-inner--html">

			<h2 style="background-image:url('/images/icon_faq_question-check_01.png')">CUSTOMER SERVICE</h2>

		</div>
	</div>



	<div class="question-block custom__item" >
		<div class="custom__item-inner custom__item-inner--text">

			<h4 class="h3">How long will it take to receive my order?</h4>
			<div class="rte-setting"><p>It takes 21 business days per piece to be created due to its customized nature. After that, it will be shipped. Please allow about 4 weeks of lead time for orders. Expedited Processing is available for some pieces during specified seasons.</p></div>
			
		</div>
	</div>

	<div class="question-block custom__item" >
		<div class="custom__item-inner custom__item-inner--text">

			<h4 class="h3">How long will it take to receive my order?</h4>
			<div class="rte-setting"><p>It takes 21 business days per piece to be created due to its customized nature. After that, it will be shipped. Please allow about 4 weeks of lead time for orders. Expedited Processing is available for some pieces during specified seasons.</p></div>
			
		</div>
	</div>

	<div class="question-block custom__item" >
		<div class="custom__item-inner custom__item-inner--text">

			<h4 class="h3">How long will it take to receive my order?</h4>
			<div class="rte-setting"><p>It takes 21 business days per piece to be created due to its customized nature. After that, it will be shipped. Please allow about 4 weeks of lead time for orders. Expedited Processing is available for some pieces during specified seasons.</p></div>

		</div>
	</div>




	<!-- ============================ SECTION 2 =========================== -->

	<div class="question-block custom__item">
		<div class="custom__item-inner custom__item-inner--html">

			<h2 style="background-image:url('/images/icon_faq_star_01.png')">CUSTOMIZATION</h2>

		</div>
	</div>

	<div class="question-block custom__item" >
		<div class="custom__item-inner custom__item-inner--text">

			<h4 class="h3">How long will it take to receive my order?</h4>
			<div class="rte-setting"><p>It takes 21 business days per piece to be created due to its customized nature. After that, it will be shipped. Please allow about 4 weeks of lead time for orders. Expedited Processing is available for some pieces during specified seasons.</p></div>
			
		</div>
	</div>

	<div class="question-block custom__item" >
		<div class="custom__item-inner custom__item-inner--text">

			<h4 class="h3">How long will it take to receive my order?</h4>
			<div class="rte-setting"><p>It takes 21 business days per piece to be created due to its customized nature. After that, it will be shipped. Please allow about 4 weeks of lead time for orders. Expedited Processing is available for some pieces during specified seasons.</p></div>

		</div>
	</div>







	<!-- ============================ SECTION 3 =========================== -->

	<div class="question-block custom__item">
		<div class="custom__item-inner custom__item-inner--html">

			<h2 style="background-image:url('/images/icon_faq_metals_01.png')">MATERIALS</h2>

		</div>
	</div>

	<div class="question-block custom__item" >
		<div class="custom__item-inner custom__item-inner--text">

			<h4 class="h3">How long will it take to receive my order?</h4>
			<div class="rte-setting"><p>It takes 21 business days per piece to be created due to its customized nature. After that, it will be shipped. Please allow about 4 weeks of lead time for orders. Expedited Processing is available for some pieces during specified seasons.</p></div>
			
		</div>
	</div>

	<div class="question-block custom__item" >
		<div class="custom__item-inner custom__item-inner--text">

			<h4 class="h3">How long will it take to receive my order?</h4>
			<div class="rte-setting"><p>It takes 21 business days per piece to be created due to its customized nature. After that, it will be shipped. Please allow about 4 weeks of lead time for orders. Expedited Processing is available for some pieces during specified seasons.</p></div>

		</div>
	</div>




	{% endcomment %}














 <script>
    $(function() {

      var QuestionBlocks = $('.question-block');

      QuestionBlocks.click(function(e){

        _this = $(this);

        if (_this.hasClass('_open_')){

          _this.removeClass('_open_');

        } else {

          _this.addClass('_open_');

        }

      });

      QuestionBlocks.each(function(x){

        console.log(x+' found QuestionBlocks');

        $(this).find('.rte-setting').click(function(evt){
          evt.stopPropagation();
        })

      });


    });
  </script>  

    