  <style>
    .wireframe_info { display:none; }
    html.wireframe .wireframe_info { display:block; }
  </style>


  {% comment %}
  //      Load the library files needed to transform basic 
  //      input, select, radio button fields into pretty
  //      user interface designed features.
  {% endcomment %}
  {{ 'semantic.scss' | asset_url | stylesheet_tag }}
  <script src="{{ 'semantic.min.js' | asset_url }}" ></script>


  <script type="text/javascript">



    function detect(ua) {
      var os = this.os = {},
        browser = this.browser = {},
        webkit = ua.match(/Web[kK]it[\/]{0,1}([\d.]+)/),
        android = ua.match(/(Android);?[\s\/]+([\d.]+)?/),
        ipad = ua.match(/(iPad).*OS\s([\d_]+)/),
        ipod = ua.match(/(iPod)(.*OS\s([\d_]+))?/),
        iphone = !ipad && ua.match(/(iPhone\sOS)\s([\d_]+)/),
        webos = ua.match(/(webOS|hpwOS)[\s\/]([\d.]+)/),
        touchpad = webos && ua.match(/TouchPad/),
        kindle = ua.match(/Kindle\/([\d.]+)/),
        silk = ua.match(/Silk\/([\d._]+)/),
        blackberry = ua.match(/(BlackBerry).*Version\/([\d.]+)/),
        bb10 = ua.match(/(BB10).*Version\/([\d.]+)/),
        rimtabletos = ua.match(/(RIM\sTablet\sOS)\s([\d.]+)/),
        playbook = ua.match(/PlayBook/),
        chrome = ua.match(/Chrome\/([\d.]+)/) || ua.match(/CriOS\/([\d.]+)/),
        firefox = ua.match(/Firefox\/([\d.]+)/),
        ie = ua.match(/MSIE ([\d.]+)/),
        safari = webkit && ua.match(/Mobile\//) && !chrome,
        webview = ua.match(/(iPhone|iPod|iPad).*AppleWebKit(?!.*Safari)/) && !chrome,
        ie = ua.match(/MSIE\s([\d.]+)/);
      if (browser.webkit = !!webkit) browser.version = webkit[1];
      if (android) os.android = true, os.version = android[2];
      if (iphone && !ipod) os.ios = os.iphone = true, os.version = iphone[2].replace(/_/g, ".");
      if (ipad) os.ios = os.ipad = true, os.version = ipad[2].replace(/_/g, ".");
      if (ipod) os.ios = os.ipod = true, os.version = ipod[3] ? ipod[3].replace(/_/g, ".") : null;
      if (webos) os.webos = true, os.version = webos[2];
      if (touchpad) os.touchpad = true;
      if (blackberry) os.blackberry = true, os.version = blackberry[2];
      if (bb10) os.bb10 = true, os.version = bb10[2];
      if (rimtabletos) os.rimtabletos = true, os.version = rimtabletos[2];
      if (playbook) browser.playbook = true;
      if (kindle) os.kindle = true, os.version = kindle[1];
      if (silk) browser.silk = true, browser.version = silk[1];
      if (!silk && os.android && ua.match(/Kindle Fire/)) browser.silk = true;
      if (chrome) browser.chrome = true, browser.version = chrome[1];
      if (firefox) browser.firefox = true, browser.version = firefox[1];
      if (ie) browser.ie = true, browser.version = ie[1];
      if (safari && (ua.match(/Safari/) || !!os.ios)) browser.safari = true;
      if (webview) browser.webview = true;
      if (ie) browser.ie = true, browser.version = ie[1];
      // os.tablet = !!(ipad || playbook || android && !ua.match(/Mobile/) || firefox && ua.match(/Tablet/) || (window.innerWidth > 768 && window.innerWidth < 989) || ie && !ua.match(/Phone/) && ua.match(/Touch/));
      os.tablet = !!(ipad || playbook || android && !ua.match(/Mobile/) || firefox && ua.match(/Tablet/) || ie && !ua.match(/Phone/) && ua.match(/Touch/));
      // os.phone = !!(!os.tablet && !os.ipod && (android || iphone || webos || blackberry || bb10 || chrome && ua.match(/Android/) || chrome && ua.match(/CriOS\/([\d.]+)/) || firefox && ua.match(/Mobile/) || (window.innerWidth < 769) || ie && ua.match(/Touch/)));
      os.phone = !!(!os.tablet && !os.ipod && (android || iphone || webos || blackberry || bb10 || chrome && ua.match(/Android/) || chrome && ua.match(/CriOS\/([\d.]+)/) || firefox && ua.match(/Mobile/) || ie && ua.match(/Touch/)));
      os.touch = window.os.tablet || window.os.phone;
      os.touchSimulated = (window.innerWidth<1025) ? true : false;
      // console.log('windWidth='+window.innerWidth);
    }
    detect.call(window, navigator.userAgent);
    window.__detect = detect;
    window.addEventListener('resize', function(){
      detect.call(window, navigator.userAgent);
    });






    var WindowLoadWidth = window.innerWidth;

    function documentFontSizing() {

      var htmlElm = document.getElementsByTagName('HTML')[0];
      htmlElm.classList.remove('_TABLET_','_PHONE_','_TOUCH_','_TOUCH_SIM_','_DESKTOP_');
   
      /*   
      if (window.os.tablet === true) htmlElm.classList.add('_TABLET_');
      if (window.os.phone === true) htmlElm.classList.add('_PHONE_');
      if (window.os.touch === true){
        htmlElm.classList.add('_TOUCH_');
      } else if (window.os.touchSimulated === true) {
        htmlElm.classList.add('_TOUCH_SIM_');
      } else {
        htmlElm.classList.add('_DESKTOP_');
      }

      if (window.os.phone === true) {
        var minThreshold = 32;

      } else if (window.os.tablet === true) {
        var minThreshold = 20;

      } else if (window.innerWidth<990) {
      */
      if (window.innerWidth<1024) {
        var minThreshold = 22;

      } else {
        var minThreshold = 18;

      }

      var maxThreshold = 30;
      var htmlElm = document.getElementsByTagName('HTML')[0];
      var bodyElm = document.getElementsByTagName('BODY')[0];

      if (typeof (htmlElm) != 'undefined' && htmlElm != null) {

        var WindowCurrentWidth = window.innerWidth;
        var baseCompareWidth = 1024; //parseInt(htmlElm.innerHTML.length);
        var textToInnerWidthRatio = WindowCurrentWidth / baseCompareWidth;
        var possibleNewFontSize = (textToInnerWidthRatio * 20); //for 16pixels
        // console.log('pos new fsize ='+possibleNewFontSize+' | '+baseCompareWidth+' | documentFontSizing fired | '+winWidth+' | ratio = '+textToInnerWidthRatio);
        // htmlElm.classList.add('sized');
        var newSize = Math.min(possibleNewFontSize, maxThreshold);
        newSize = Math.max(newSize, minThreshold);
        htmlElm.style.fontSize = newSize + 'px';

      }
    }

    documentFontSizing();
    window.addEventListener('resize', documentFontSizing, true);
    setTimeout(documentFontSizing, 10);







    // window.addEventListener('scroll', scrollHandler(event), true);
    var htmlElm = document.getElementsByTagName('HTML')[0];
    window.addEventListener('scroll', function(event){

      var top = this.scrollY;

      if (top > 1) {
        htmlElm.classList.add('_TOP_100_THRESHOLD_');

      } else {
        htmlElm.classList.remove('_TOP_100_THRESHOLD_');

      }

    }, true);

  </script>





