{% comment %}Used for home page sections only when featured products is chosen but no content has been selected{% endcomment %}
{% assign products-per-row = section.settings.products-per-row %}
{% if section.settings.homepage-product-display == 'carousel' %}<div class="product-collection-carousel">{% endif %}
{% for i in (1..6) %}
<div class="product-car">
  
  <div class="product-index {% if section.settings.homepage-product-display == 'grid' %}{% if products-per-row == 6 %}desktop-2{% cycle ' first', '', '', '', '', ' last' %}{% elsif products-per-row == 4 %}desktop-3{% cycle ' first', '', '', ' last' %}{% elsif products-per-row == 3 %}desktop-4{% cycle ' first', '', ' last' %}{% elsif products-per-row == 5 %}desktop-fifth{% cycle ' first', '', '', '', ' last' %}{% elsif products-per-row == 2 %}desktop-6{% cycle ' first', ' last' %}{% endif %} tablet-half mobile-half{% endif %}" data-alpha="{{ product.title }}" data-price="{{ product.price }}">       
    {% capture current %}{{ forloop.index }}{% endcapture %}
    {%- assign placeholder = 'product-' | append: current -%}
    <div class="prod-container">
      <div class="prod-image onboard">
        <a href="#">
          {{ placeholder | placeholder_svg_tag }}
        </a>
      </div>
    </div>
    <div class="product-info"> 
      <a href="#"> 
        <h3>Product {{ forloop.index }}</h3>
      </a>
      <div class="price">
        <div class="prod-price">9.99</div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% if section.settings.homepage-product-display == 'carousel' %}</div>{% endif %}
