
  <div id="opb">
    <div id="opb_01" class="opbCell">$ USD | English</div>
    <div id="opb_02" class="opbCell">Promotional Text Banner (<em>omnipresent</em>)</div>
    <div id="opb_03" class="opbCell">- CALL US: 555-555-5555</div>
  </div>
