{% if collection != blank %}
<div class="product-collection-carousel desktop-12 tablet-6 mobile-3 aedesign--snippets--product-carousel-liquid">
  {% for product in collection.products limit: prod_limit %}

  <div class="product-car">    
    <div class="product-index" data-alpha="{{ product.title }}" data-price="{{ product.price }}">   
      {% include 'product-listing' %}
    </div>
  </div>
  
  {% endfor %}
</div> 
{% else %}
{% include 'onboard-product' %}
{% endif %}      
