   
  <div class="prod-container">
    {% if product.available %}
    {% for col in product.collections %}
    {% if col.handle == 'new' %}
    <div class="new icn">{{ 'products.general.new' | t }}</div>
    {% endif %}
    {% endfor %}
    {% if product.price < product.compare_at_price %}
    <div class="sale-item icn">{{ 'products.general.sale' | t }}</div>
    {% endif %}
    {% else %}
    <div class="so icn">{{ 'products.general.sold' | t }}</div>
    {% endif %}
    {% if product.template_suffix == 'pre-order' %}
    <div class="pre-order icn">{{ 'products.product.pre_order' | t }}</div>
    {% endif %}
   
    <div class="prod-image">
    <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
      <div class="reveal">
        <img src="{{ product.featured_image.src | product_img_url: '1024x1024' }}" alt="{{ product.featured_image.alt | escape }}" />
        {% if settings.image-flip and product.images.size > 1 %}
        <div class="hidden">
          <img src="{{ product.images[1] | product_img_url: '1024x1024' }}" alt="{{ product.images[1].alt | escape }}" />
        </div>
        {% endif %}
      </div>
    </a>
    </div>

  </div>
  <div class="product-info"> 
    <a href="{{ product.url | within: collection }}"> 
      {% if settings.vendor %}<p>{{ product.vendor }}</p>{% endif %}
      <h3>{{ product.title }}</h3>
    </a>
    <div class="price">
      {% if product.price < product.compare_at_price %}
      <div class="onsale">{{ product.price | money }}</div>
      <div class="was">{{ product.compare_at_price | money }}</div>
      {% else %}
      <div class="prod-price">{% if product.price_varies %} {{ 'products.general.from' | t }} {{ product.price_min | money }} - {{ product.price_max | money }} {% else %}{{ product.price | money }}{% endif %}</div>
      {% endif %}	
    </div>
  </div>

    {% if settings.alternate_colors %}
    <div class="prod-colors">
      {% include 'product-listing-swatches' %}
    </div> 
    {% endif %}    


  {% if settings.quickview %}
  <a class="fancybox.ajax product-modal" href="{{ product.url }}?view=quick">{{ 'products.general.quick_view' | t }}</a>
  {% endif %}
