

  <div id="toggleWireframeWrap" style="opacity: 1;">
    <div id="wireframeBtn" class="">
    </div>
  </div>


  <div id="renderWireframeWrapWidth" style="opacity: 1;"><div id="widthTarget"></div></div>
  <div id="renderWireframeWrapHeight" style="opacity: 1;"><div id="heightTarget"></div></div>


  <style>

    #toggleWireframeWrap {
      display: block;
      position: fixed;
      bottom:0;
      right: 0;
      z-index: 9999999;
    }
      #toggleWireframeWrap #wireframeBtn {
        display: block;
        width: 40px;
        height:40px;
        position: absolute;
        bottom:0px;
        right: 0px;
        background-color: rgba(255,0,0,0);
        cursor: pointer;
        transition: all 0.2s ease 0s;
        transform-origin: center center;
        transform: scale(0.5);
      }
      html.wireframe #toggleWireframeWrap #wireframeBtn {
        /*width: 40px;*/
        /*height:40px;*/
        transform: scale(1);
        background-color: rgba(255,0,0,0.85);
      }
      #toggleWireframeWrap #wireframeBtn:hover {
        background-color: rgba(255,0,0,1);
        border-radius: 50%;
      }
      #toggleWireframeWrap #wireframeBtn:active {
        transform: scale(0.92);
      }




      #renderWireframeWrapWidth {
        display: none;
        width: 100%;
        height: 0px;
        position: fixed;
        top:0;
        right: 0;
        left: 0;
        z-index: 9999999999;
        text-align: center;
        color:red;
        font-size:0.4rem;
        border-bottom:1px dashed red;
        padding-top:2px;
        padding-right:24vw;

        display: none;
      }
      html.wireframe #renderWireframeWrapWidth {
        display: block;
        height: 40px;
      }
      #renderWireframeWrapWidth #widthTarget {
        display:none;
        position: absolute;
        top: 18px;
        left: 16vw;
        padding: 10px;
        background: rgba(255,255,255,0.9);
        border-radius: 10px;
        border: 1px dashed red;
      }
      html.wireframe #renderWireframeWrapWidth #widthTarget {
        display:block;
      }


      #renderWireframeWrapHeight {
        display: block;
        width: 40px;
        height: 100%;
        position: fixed;
        top:0;
        left: 0;
        z-index: 9999999999;
        text-align: center;
        color:red;
        font-size:0.4rem;
        border-right:1px dashed red;

        display: none;
      }
      html.wireframe #renderWireframeWrapHeight {
        display: block;
      }
        html.wireframe #renderWireframeWrapHeight #heightTarget {
          display: block;
          width: auto;
          min-width: 150px;
          height: auto;
          position: absolute;
          top: calc(100vh / 2 + 95px);
          left: 14px;
          transform: rotate(-90deg);
          transform-origin: 0px 0px;
        }

    html .wireframe {

    }
    html.wireframe .wireframe,
    html.wireframe .wireframe-blue-dashes {
      box-sizing: border-box;
      border: 1px dashed blue;
    }


    html.wireframe:before,
    html.wireframe::before {
      content: attr(class);
      display: block;
      z-index: 999999;
      position: absolute;
      font-size: 0.6rem;
      color: #fff;
      background: red;
      padding: 4px;
      left: 7vw;
      opacity: 0.4;
      word-spacing: 0.7rem;
      border-radius: 3px;
    }

  </style>

  <style>
    html.jira [data-jira-id]::before {
      content: attr(data-jira-id);
      display: block;
      width: auto;
      position: relative;
      height: 0;
      line-height: 0;
      top: -11px;
      text-align: right;
      font-size: 0.4rem;
      background-color: #fc0;
    }
  html.jira header#opHeader[data-jira-id]::before {
      top: 13px;
      text-align: left;
      z-index: 99;
      left: 7px;
    }


    html.jira div[data-jira-id] {
      box-shadow:0px 0px 2px 0px red;
    }
  </style>

  <script type="text/javascript">

    function toggleWireframe() {

      // console.log('test from toggleWireframe');
      var htmlElm = document.getElementsByTagName('HTML')[0];
      htmlElm.classList.toggle("wireframe");

    }

    function toggleJIRA() {

      // console.log('test from toggleWireframe');
      var htmlElm = document.getElementsByTagName('HTML')[0];
      htmlElm.classList.toggle("jira");

    }

    document.onkeydown = function(evt) {
        
        evt = evt || window.event;
        if (evt.keyCode == 27) {
            toggleWireframe();
        }

        if (evt.altKey && evt.keyCode === 74) { //alt+J

            // alert('test123');
            toggleJIRA();
        }

    };

    // toggleWireframe();
    var theWireframeBtn = document.getElementById('wireframeBtn');
    theWireframeBtn.addEventListener('click', toggleWireframe, true);




    function renderWireframeWidth() {
      var widthRenderer = document.getElementById('widthTarget');
      var renderOuterWidth = window.outerWidth;
      var renderInnerWidth = window.innerWidth;
      widthRenderer.innerHTML = renderInnerWidth+'px  •••  retina = '+(renderInnerWidth*2)+'px';
    }
    renderWireframeWidth();
    window.addEventListener('resize', renderWireframeWidth, true);



    function renderWireframeHeight() {
      // var heightRenderer = document.getElementById('renderWireframeWrapHeight');
      var heightRenderer = document.getElementById('heightTarget');
      var renderHeight = window.outerHeight;
      heightRenderer.innerHTML = renderHeight+'px | retina = '+(renderHeight*2)+'px';
    }
    renderWireframeHeight();
    window.addEventListener('resize', renderWireframeHeight, true);


  </script>