@charset "UTF-8";
/*============================================================================
  [replace with theme name] | Built with Slate
    - You cannot use native CSS/Sass @imports in this file without a build script
==============================================================================*/

/*================ UTILS ================*/
@import url('tools/mixins.scss');

/*================ SETTINGS ================*/
// @import url('settings/variables.scss.liquid');
@import url('settings/variables.scss');

/*================ COMMON ================*/
@import url('global/normalize.scss');
@import url('global/slate-reset.scss');
@import url('global/helper-classes.scss');
@import url('global/grid.scss');
@import url('global/layout.scss');
@import url('global/icons.scss');
@import url('global/rte.scss');
@import url('global/responsive-tables.scss');
@import url('global/links-buttons.scss');
@import url('global/forms.scss');
@import url('global/blank-states.scss');

/*================ MODULES ================*/
@import url('modules/site-header.scss');
@import url('modules/gift-card-template.scss');





/*================ UTILS ================*/
/*================ Mixins ================*/
@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  // sass-lint:disable
  *zoom: 1;
}

/*============================================================================
  Prefix mixin for generating vendor prefixes.
  Based on https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_prefixer.scss

  Usage:
    // Input:
    .element {
      @include prefix(transform, scale(1), ms webkit spec);
    }

    // Output:
    .element {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
==============================================================================*/
@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
      -moz-#{$property}: $value;
    } @else if $prefix == ms {
      -ms-#{$property}: $value;
    } @else if $prefix == o {
      -o-#{$property}: $value;
    } @else if $prefix == spec {
      #{$property}: $value;
    } @else  {
      @warn 'Unrecognized prefix: #{$prefix}';
    }
  }
}

/*================ Media Query Mixin ================*/
@mixin media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }

  @if $breakpoint-found == false {
    @warn 'Breakpoint "#{$media-query}" does not exist';
  }
}

/*================ Responsive Show/Hide Helper ================*/
@mixin responsive-display-helper($breakpoint: '') {
  // sass-lint:disable no-important
  .#{$breakpoint}show {
    display: block !important;
  }

  .#{$breakpoint}hide {
    display: none !important;
  }
}

/*================ Responsive Text Alignment Helper ================*/
@mixin responsive-text-align-helper($breakpoint: '') {
  // sass-lint:disable no-important
  .#{$breakpoint}text-left {
    text-align: left !important;
  }

  .#{$breakpoint}text-right {
    text-align: right !important;
  }

  .#{$breakpoint}text-center {
    text-align: center !important;
  }
}

@mixin visually-hidden() {
  // sass-lint:disable no-important
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@mixin visually-shown($position: inherit) {
  // sass-lint:disable no-important
  position: $position !important;
  overflow: auto;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}



/*============================================================================
  Flexbox prefix mixins from Bourbon
    https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_flex-box.scss
==============================================================================*/
@mixin display-flexbox() {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; // necessary for ie10
}

@mixin flex-wrap($value: nowrap) {
  @include prefix(flex-wrap, $value, webkit moz ms spec);
}

@mixin flex-direction($value) {
  @include prefix(flex-direction, $value, webkit moz ms spec);
}

@mixin align-items($value: stretch) {
  $alt-value: $value;

  @if $value == 'flex-start' {
    $alt-value: start;
  } @else if $value == 'flex-end' {
    $alt-value: end;
  }

  // sass-lint:disable no-misspelled-properties
  -ms-flex-align: $alt-value;
  @include prefix(align-items, $value, webkit moz ms o spec);
}

@mixin flex($value) {
  @include prefix(flex, $value, webkit moz ms spec);
}

@mixin flex-basis($width: auto) {
  // sass-lint:disable no-misspelled-properties
  -ms-flex-preferred-size: $width;
  @include prefix(flex-basis, $width, webkit moz spec);
}

@mixin align-self($align: auto) {
  // sass-lint:disable no-misspelled-properties
  -ms-flex-item-align: $align;
  @include prefix(align-self, $align, webkit spec);
}

@mixin align-content($align: center) {
  @include prefix(align-content, $align, webkit ms spec);
}

@mixin justify-content($justify: flex-start) {
  @include prefix(justify-content, $justify, webkit ms spec);
}



/*================ SETTINGS ================*/
/*================ Color Variables ================*/
$color-primary: {{ settings.color_primary }};

// Text colors
// $color-body-text: {{ settings.color_body_text }};

// Backgrounds
$color-body: #fff;

// Border colors
$color-border: #0a0a0a;

// Helper colors for form error states
$color-disabled: #000;
$color-disabled-border: #000;
$color-error: #000;
$color-error-bg: #000;
$color-success: #000;
$color-success-bg: #000;

/*================ Typography Variables ================*/
$font_size_xxxlarge: 3.0rem;
$font_size_xxlarge: 2.6rem;
$font_size_xlarge: 2.0rem;
$font_size_large:  1.6rem;
$font_size_h1: 1.25rem;
$font_size_h2: 1.0rem;
$font_size_h3: 0.85rem;
$font_size_h4: 0.75rem;
$font_size_h5: 0.7rem;
$font_size_h6: 0.65rem;
$font_size_default: 0.8rem;
$font_size_small:   0.65rem;
$font_size_xsmall:  0.55rem;
$font_size_xxsmall: 0.4rem;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-stack-headline-tag: ambroise-std, 'DidotLTStd-Fallback', Didot, Serif;
$font_stack_headline_tag: ambroise-std, 'DidotLTStd-Fallback', Didot, Serif;

$font-stack-header: 'Avenir-Fallback', Avenir, 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-weight-header: $font-weight-bold;

$font-stack-body: 'Avenir-Fallback', Avenir, 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base: {{ settings.type_base_size }};

$letter_spacing_default:  0.09rem;
$letter_spacing_small:    0.045rem;
$letter_spacing_xsmall:   0.035rem;
$letter_spacing_xxsmall:  0.02rem;

/*============================================================================
  Grid Breakpoints and Class Names
    - Do not change the variable names
==============================================================================*/
$input-sizing-xlarge: 500px;
$input-sizing-large: 400px;
$input-sizing-medium: 330px;
$input-sizing-default: 280px;
$input-sizing-small: 190px;

$grid-small: 550px;
$grid-medium: 769px;
$grid-ipad-landscape: 1024px;
$grid-ipad-landscape-plus80: 1104px;
$grid-large: 990px;
$grid-widescreen: 1400px;
$grid-xlarge: 1600px;
$grid-xxlarge: 1920px;
$grid-xxxlarge: 2250px;
$grid-4k: 3800px;
$grid-gutter: 30px;
$grid-gutter-mobile: 22px;

/*================ Sizing Variables ================*/
$width-site: 1180px;
$gutter: 20px;
$gutter-small: 30px;
$gutter-default: 40px;
$gutter-wide: 50px;

$small: 'small';
$small-down: 'small-down';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';
$xlarge: 'xlarge';
$xxlarge: 'xxlarge';
$xxxlarge: 'xxxlarge';

// The `$breakpoints` list is used to build our media queries.
// You can use these in the media-query mixin.
/*
$breakpoints: (
  $small '(max-width: #{$grid-medium - 1})',
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
  $medium-down '(max-width: #{$grid-large - 1})',
  $medium-up '(min-width: #{$grid-medium})',
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
  $large-down '(max-width: #{$grid-widescreen - 1})',
  $large-up '(min-width: #{$grid-large})',
  $widescreen '(min-width: #{$grid-widescreen})'
);
*/

$AED-500: '';  $var-500:  500px;
$AED-550: '';  $var-550:  550px;
$AED-650: '';  $var-650:  650px;
$AED-768: '';  $var-768:  768px;
$AED-769: '';  $var-769:  769px;
$AED-950: '';  $var-950:  950px;
$AED-1024: ''; $var-1024: 1024px;
$AED-1150: ''; $var-1150: 1150px;
$AED-1280: ''; $var-1280: 1280px;
$AED-1400: ''; $var-1400: 1400px;
$AED-1600: ''; $var-1600: 1600px;
$AED-1750: ''; $var-1750: 1750px;
$AED-1920: ''; $var-1920: 1920px;
$AED-2100: ''; $var-2100: 2100px;
$AED-2250: ''; $var-2250: 2250px;
$AED-2500: ''; $var-2500: 2500px;
$AED-3000: ''; $var-3000: 3000px;
$AED-3800: ''; $var-3800: 3800px;

$breakpoints: (
  // NEW AED Rules:
  $AED-768      '(max-width: #{$var-768})',
  $AED-500      '(max-width: #{$var-500})',

  // Orig Rules:
  $small '(max-width: #{$grid-medium - 1})',
  $small-down '(max-width: #{$grid-small})',
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
  $medium-down '(max-width: #{$grid-large - 1})',
  $medium-up '(min-width: #{$grid-medium})',
  $grid-ipad-landscape-plus80 '(max-width: #{$grid-ipad-landscape-plus80})',
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
  $large-down '(max-width: #{$grid-widescreen - 1})',
  $large-up '(min-width: #{$grid-large})',
  $widescreen '(min-width: #{$grid-widescreen})',
  $xlarge '(min-width: #{$grid-xlarge})',
  $xxlarge '(min-width: #{$grid-xxlarge})',
  $xxxlarge '(min-width: #{$grid-xxxlarge})'
);

/*============================================================================
  Generate breakpoint-specific column widths and push classes
    - Default column widths: $breakpoint-has-widths: ($small, $medium-up);
    - Default is no push classes
    - Will not work if `styles/global/grid.scss` is removed
==============================================================================*/
$breakpoint-has-widths: ($small, $medium-up);
$breakpoint-has-push: ();

/*================ Z-Index ================*/
$z-index-dropdown: 2;
$z-index-skip-to-content: 10000; // really high to be safe of app markup

/*================ SVG ================*/
$svg-select-icon: #{'{{ "ico-select.svg" | asset_url }}'};




/*================ Sizing Variables ================*/
$width-site: 1920px;/*1200px;*/
$gutter-site: 55px;
$gutter-site-mobile: 22px;
$section-spacing: 0px;/*55px;*/
$section-spacing-small: 0px;/*35px;*/
$border-radius: 2px;

/*================ Z-Index ================*/
$z-index-dropdown : 7;
$z-index-sub-nav: 8;
$z-index-drawer: 9;
$z-index-announcement-bar: 10;
$z-index-skip-to-content: 10000; // really high to be safe of app markup











/*
Theme Name:WoodCraftByRich
Theme URI: http://aedesign.la
Author: AEDesign
Author URI: http://aedesign.la
Description: A new temporary theme for Richard Everson's WoodCrafts
Version: 1.0
Text Domain: WoodCraftByRich
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html

Tags: threaded-comments, right-sidebar, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, flexible-header, post-formats, sticky-post, theme-options, translation-ready, photography, blog, portfolio

All files, unless otherwise stated, are released under the GNU General Public License
version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)
==================================================
*/

/* 1.0 Browser Reset
================================================== */
html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-rendering: optimizelegibility;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

*,
*:before,
*:after { /* box layout to all elements */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #ffffff;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f4f4f4+100 */
// background: rgb(255,255,255); /* Old browsers */
// background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%); /* FF3.6-15 */
// background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
// background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(244,244,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol, ul {
	list-style: none;
	margin: 0;
}

ul li a,
ol li a {
	color: #222;
}

ul li a:hover,
ol li a:hover {
	/*color: #fd513b;*/
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}

table, 
th, 
td {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 0px 0 0 0px;
	margin-bottom: 20px;
	width: 100%;
}

caption, 
th {
	font-weight: 400;
	text-align: left;
}

th {
	text-transform: uppercase;
	color: #333;
}

td, th {
	padding: 8px;
	border-width: 0 1px 1px 0;
}

a img {
	border: 0 none;
}

embed,
iframe,
object {
	max-width: 100%;
}

/* Internet Explorer 10 fix */
@-webkit-viewport {
	width: device-width;
}
@-moz-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

/* Other fixes*/
*,*:before,
*:after {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* Removes dotted line when focus */
:focus { 
	outline-color: transparent;
  	outline-style: none;
}

/* Webkit */
::selection {
	background: #fd513b;
	color: #fff;
}

/* Gecko/Mozilla */
::-moz-selection {
	background: #fd513b;
	color: #fff;
}

/* 2.0 Typography
================================================== */
body,
button,
input,
select,
textarea {
	color: #484848;
	font-family: "Roboto Condensed", "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.533;
	word-wrap: break-word;
	overflow-x: hidden;
}

/* ----- #Headings  ----- */
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	color: #222;
	font-family: "Rajdhani", sans-serif;
	font-weight: 600;
	margin-top:0;
	margin-bottom: 15px;
}

h1 a, 
h2 a, 
h3 a, 
h4 a, 
h5 a, 
h6 a { 
	color: #222;
	font-weight: inherit;
}

h1 {
	font-size: 30px;
	line-height: 1.233;
}

h2 {
	font-size: 26px;
	line-height: 1.269;
}

h3 {
	font-size: 24px;
	line-height: 1.292;
}

h4 {
	font-size: 22px;
	line-height: 1.318;
}

h5 {
	font-size: 20px;
	line-height: 1.350;
}

h6 {
	font-size: 18px;
	line-height: 1.389;
}

.highlight { 
	font-weight: 500;
}

/* ----- #Text Elements  ----- */
p {
	padding: 0;
	margin: 0 0 20px 0;
}

b, 
strong { 
	font-weight: 700; 
}

dfn, 
cite, 
em, 
i {
	font-style: italic;
}

/* -----  #Blockquote shortcode start styles  ----- */
blockquote:before {
	content: '\f10d';
	color: #fd513b;
	font-family: "FontAwesome";
	font-style: normal;
	font-variant: normal;
	font-size: 30px;
	font-weight: 400;
	font-style: italic;
	line-height: 1;
	position: absolute;
	z-index: 0;
	top: 5px;
	left: 0;
	width: 100%;
}

blockquote {
	color: #888;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 18px;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	letter-spacing: 0.3px;
	line-height: 1.625;
	padding-left: 50px;
	position: relative;
	quotes: none;
}

blockquote cite {
	display: block;
	font-size: 15px;
	font-style: normal;
	text-align: right;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

address {
	display: block;
	margin: 0 0 1.6em;
}

pre {
	background-color: #f8f8f8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	clear: both;
	color: #747474;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 14px;
	line-height: 1.500;
	margin-bottom: 20px;
	overflow: auto;
	padding: 30px;
	position: relative;
	white-space: pre;
	z-index: 1;
}

code, 
kbd, 
tt, 
var {
	font: 14px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	line-height: 1.500;
}

abbr,
acronym,
dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, 
ins {
	background: #fff9c0;
	text-decoration: none;
	margin-bottom: 20px;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

[hidden] {
	display: none;
}

/* 3.0 Links
================================================== */
a {
	/*color: #fd513b;*/
	cursor:pointer;
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

a:focus,
a:active,
a:hover {
	text-decoration: none;
}

/* 4.0 Body Structure
================================================== */
#page {
	width: 100%;
	background-color: #fff;
}

.wide-wrap:after,
.wrap:after {
	clear: both;
	content: "";
	display: block;
}

.wide-wrap {
	margin: 0 40px;
}

.wrap {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0;
	position: relative;
}

.inner-wrap {
	max-width: 978px;
	margin: 0 auto;
	overflow: hidden;
}

#primary .wrap {
	max-width: 100%;
}

body.blog .site-content > .wrap,
body.archive:not(.post-type-archive-product) .site-content > .wrap {
	max-width: 100%;
}

.elementor-template-full-width .site-content > .wrap,
.elementor-page .site-content > .wrap {
	width: 100%;
	max-width: 100%;
}

/* 6.0 Accessibility
================================================== */

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	overflow: hidden;
	width: 1px;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:	0 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:	0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow:	0 1px 2px rgba(0, 0, 0, 0.15);
	clip: auto !important;
	color: #fd513b;
	display: block;
	font-size: 14px;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* 7.0 Alignments
================================================== */

.alignleft {
	display: inline;
	float: left;
	margin-right: 20px;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 20px;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* 8.0 Breadcrumb
================================================== */

.breadcrumb {
	font-size: 13px;
	margin-bottom: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.breadcrumb,
.breadcrumb a:hover {
	color: #999;
}

.breadcrumb a {
	color: #333;
}

.breadcrumb .home:before {
	content: '\f015';
	display: inline-block;
	font-family: "FontAwesome";
	font-size: 16px;
	font-style: normal;
	line-height: 1.313;
	margin-right: 4px;
	vertical-align: top;
}

/* 9.0 Universal Clearfix
================================================== */
/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.clearfix { 
	display: inline-block; 
}

/* start commented backslash hack \*/

* html .clearfix { 
	height: 1%; 
}
.clearfix { 
	display: block; 
}
/* close commented backslash hack */


/* 10.0 Forms
================================================== */

button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Appearance and consistency in all browsers */
	*vertical-align: middle; /* Appearance and consistency in IE6/IE7 */
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="password"],
textarea {
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 30px;
	background-color: #fafafa;
}

input[type="search"] {
	background-color: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

input[type="reset"],
input[type="button"],
input[type="submit"] {
	background-color: #36616d;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 0 none;
	color: #fff;
	cursor: pointer;
	display: block;
	margin-bottom: 30px;
	padding: 6px 18px;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
	background-color: #747474;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: rgba(0, 0, 0, 0.20);
	background-color: #fff;
}

input[type="search"]:focus {
	background-color: #f8f8f8;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type=search] {
  -webkit-appearance: none;
}















header {
	display:block;
	width:100%;
	text-align:center;
	background-color:#37616D;
	padding: 11px 0 6px 0;
}

	#logo {
		width:100%;
		text-align: center;
	}
		#logo a {
			display:inline-block;
			vertical-align: middle;
		}
			#logo a img {
				width:auto;
			}
			@media(max-width:600px){
			#logo a img {
				width:calc(100vw - 40px);
			}
			}

	header .innerWrap {

	}

		.siteLinks {
			display:block;
			width:100%;
		}
			.siteLinks li {
				display:inline-block;
				vertical-align: middle;
				margin:0 0 12px 0;
				transition: all 0.13s ease 0s;
			}			
			@media(max-width: 768px) {
			.siteLinks li {
				display: block;
				width:100%;
				margin:0 0px 2px 0px;
				transition: all 0.63s ease 0s;
			}			
			}			
			.siteLinks li::before {
				display:inline-block;
				vertical-align: middle;
				width:0.1px;
			}


// Text colors
// $color-body-text: {{ settings.color_body_text }};

			.siteLinks li a {
				display:inline-block;
				vertical-align: middle;
				// color:#FFFDE4;
				color: $color-nav-text;
				margin: 0 0.5vw 10px 0.5vw;
				padding: 5px 0.5vw 5px 0.5vw;
				border-bottom:1px solid $color-nav-text;
				// border-radius: 4px;
				transition: all 0.13s ease 0s;
			}

			@media(max-width: 768px) {
			.siteLinks li a {
				display:block;
				width:100%;
				margin:0;
				padding:5px 0px 5px 0px;
				transition: all 0.63s ease 0s;
			}
			}
			
			.siteLinks a.active {
				border-bottom:1px solid #FFFDE4;
				color: #37616D;
				background-color:#FFFDE4;
			}
			.siteLinks a:hover {
				border-bottom:1px solid #FFFDE4;
				color: #37616D;
				background-color:#FFFDE4;
				transition: all 0s linear 0s;
			}
			.siteLinks a:active {
				transition: all 0.1s linear 0s;
				transform: scale(0.96);
			}


#sitemain {
	display:block;
	text-align: center;
	min-height:calc(100vh - 320px);
	padding-top:50px;
}
body.template-page #sitemain {
    width: calc(100vw - 80px);
    margin: 0px auto;
}

	#sitemain h1 {
		max-width:400px;
		color:#37616D;
		border-bottom:1px solid #bbd4dc;
		margin: 0 auto 60px auto;
	    padding: 0 0 12px 0;
	}

	#sitemain a {

	}
		div.woodcraftexample {
			display:inline-block;
			width:30vw;
			border:1px solid #37616D;
			border-radius: 4px;
			padding:25px;
			margin:0 13px 25px 13px;
		}
		@media(max-width:1440px){
		div.woodcraftexample {
			width:45vw;
		}
		}
		@media(max-width:768px){
		div.woodcraftexample {
			width:calc(100vw - 40px);
			margin:0 0px 25px 0px;
		}
		}
			div.woodcraftexample p {
				display:inline-block;
				width:36%;
				margin:0 25px 0 0;
				text-align: left;
				color: #37616D;
			    font-size: 1.3rem;
			    vertical-align: middle;				
			}
				div.woodcraftexample img {
					display:inline-block;
					vertical-align: middle;
					width:calc(63% - 30px);
				}












main {

}
	main p {

	}
		main a {
			color: #36616d !important;
		}
		main p a {
			color:#0a0a0a;
		}











h1.first_title {

}
	
main .text_content{
	// max-width: calc(100vw - 120px);
	max-width: calc(33vw + 200px);
    margin: 0 auto 50px auto;
}
































/* OPB Liquid Section
------------------------------------------------------ */
    
    #opb {
      display: block;
      width: 100%;
      width: 100vw;
      height: $gutter-small;
      // position: fixed;
      position: relative;
      top:0;
      left: 0;
      right:0;
      z-index: 101;
      background-color:#7497a0;
      text-align: center;
      pointer-events: initial;
      // transition: all 0.23s ease 0s;
      transform: translateY(0px);

      // will-change:top;
      @include media-query($AED-500){
        // height: $gutter-small;
        // top:50px;
        // position: absolute;
        // transform: translateY($gutter-wide);
        transition: all 0.2s linear 0.1s;
        transition: all 0.25s ease 0s;
        z-index:101;// right beneanth the white header at 102
      }
    }
    html.wireframe #opb {
      background-color:rgba(19, 84, 69, 1);
    }

    html._TOP_100_THRESHOLD_ div#opb {
      @include media-query ($AED-500){
        opacity:0;
        pointer-events:none;
        transition: all 0.15ss linear 0s;
        transition: opacity 0.25s ease 0s;
      }
      // height: 40px;
      // top: 0;
      // background-color: #0c3060;
      // background-color: rgba(12,48,96,1);
      // transform: translateY(0px);

    }

      #opb:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0.1px;
        height:100%;
      }

      .opbCell {
        display: inline-block;
        vertical-align: middle;
        width: 33%;
        font-size: $font_size_default;
        line-height: 0;
        padding: 0 0px;
        margin: 0 0px;
      }
      .opbCell:first-child,
      .opbCell:last-child {
        height:100%;
        @include media-query($AED-500){
          display:none;
        }

      }
      .opbCell:first-child {
        text-align: left;
        float:left;
        padding-left: $gutter-wide;
      }
      .opbCell:last-child {
        text-align: right;
        float:right;
        padding-right: $gutter-wide;
        padding-right: calc( #{$gutter-wide} - 6px);
      }
        #opb > * {
          // color:#f5c8b5
        }

        div#opb_01:after,
        div#opb_03:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0.1px;
        }

        #opb_01 label.currency-picker__wrapper {
          color:#384e54;
        }
          #opb_01 label.currency-picker__wrapper span.currency-picker__label {

          }
          #opb_01 label.currency-picker__wrapper select.currency-picker {
            color:#384e54;
            border: 0px solid;
            outline: none;
            background-image:none;
          }
            #opb_01 label.currency-picker__wrapper select.currency-picker option {
              // color:#f5c8b5;
            }

        #opb_02 {
          color:#384e54;
          color:#fff;
          font-family: $font_stack_headline_tag;
          letter-spacing: 0.05rem;
          font-size: $font_size_default;

          @include media-query($AED-500){
            display:inline-block;
            width:98%;
          }
        }
          #opb_02 a {
            color:#fff;
            text-decoration:none;
          }
          #opb_02 p {
            margin:0px !important;
          }

        #opb_03 {

        }

        #opb_03 .shopify-section {
          display: inline-block;
          vertical-align: middle;
          width: auto;
        }
  
          #opb_03 svg.icon {
            display: inline-block;
            vertical-align: middle;
            width: 0.45rem;
            height: auto;
            margin: 0px 2px 0 auto;
            color: #f5c8b5;            
          }

          #opb_03.opbCell p {
            display: inline-block;
            vertical-align: middle;
            margin:0px !important;
            font-size: $font_size_xsmall;
          }
            #opb_03.opbCell a {
              text-decoration:none;
              color:#384e54;
            }

    div#shopify-section-promo-number-two {
        display:block;
        height:     $gutter-small;
        max-height: $gutter-small;
        // opacity:0;
        background-color: #394e54;
        // transition:all 0.35s ease 0s;
        @include media-query ($AED-500){
          // transform: translateY(90px);
        }
    }

    body._PROMO_2_LOADED_ div#shopify-section-promo-number-two {
        display:block;
        width:100%;
        width:100vw;
        position: relative;
        top: 0px;
        z-index: 999991;
        background-color: #394e54;
        text-align: center;
        pointer-events:initial;
        opacity:1;
        @include media-query($AED-500){
          // transform: translateY(90px);
          // height:     $gutter-default;
          // max-height: $gutter-default;
        }
    } 
    html._TOP_100_THRESHOLD_ div#shopify-section-promo-number-two {
      @include media-query ($AED-500){
        transition:opacity 0.25s ease 0s;
        opacity:0;
        top:0px;
        pointer-events:none;
      }
    }
      div#shopify-section-promo-number-two div {
        display:block;
        width:100%;
        height:100%;
      }
        div#shopify-section-promo-number-two .rte-setting {
        }
          div#shopify-section-promo-number-two .rte-setting:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 0.1px;
            height: 100%;
          }

          div#shopify-section-promo-number-two p {
            color: #FFFFFF;
            margin: 0;
            line-height: 0;
            display: inline-block;
            vertical-align: middle;
            width: auto;
            letter-spacing: 0.058rem;
            text-transform: uppercase;
            font-size: 0.4rem;

            @include media-query($AED-500){
              // line-height: 3.6;
              // line-height: 1.9rem;
            }
          }

            div#shopify-section-promo-number-two p a {
              color:#0c305f;
            }














/* HOME HERO Liquid Section
------------------------------------------------------ */

      #homeHero {

      }
        #homeHero .ColCell {
          display:block;
          width:60%;
          height:calc(100vw * 0.4);
          background-color:#3cb8db;
          float:left;
          border:1px solid #fff;
        }
        #homeHero .ColCell:last-child {
          width:40%;
          float:left;
        }
        .fullWidth,
        #heroFullWidth,
        #homeHero #heroFullWidth.one.ColCell {
          display: block;
          
          width: 100%;
          width: 100vw;
          height: calc(100vw * 0.4);
          // CP-86 Adding new 50px wide borders to the site
          // and centering around the homepage mockup from
          // Kate where this is illustrated -ae 
          // $gutter-wide = 50px
          width:calc(100vw - 100px);
          height:calc((100vw - 100px) * 0.4);
          margin:0px auto 0 auto;

          background-color: #fafafa;
          float: none;
          border: 0px solid #fff;

          background-size:cover;
          background-position:center;
          background-repeat:no-repeat;
    
          @include media-query($AED-500) {
            // height:calc(100vw * 0.68);
            width: 100vw !important;
            // height: calc(100vw * 0.73) !important;
            margin: 0 !important;
          }
        }
        .fullWidth.noGutter,
        #heroFullWidth.noGutter,
        #homeHero #heroFullWidth.one.ColCell.noGutter {
          width:calc(100vw - 0px);
          height:calc((100vw - 0px) * 0.4);
        }        
        
        body.template-index .fullWidth,
        body.template-index #heroFullWidth,
        body.template-index #homeHero #heroFullWidth.one.ColCell {
    
          @include media-query($AED-500) {
            // height:calc(100vw * 0.68);
            width: 100vw !important;
            margin: 0 !important;
          }
        }
        body.template-index #heroFullWidth,
        body.template-index #homeHero #heroFullWidth.one.ColCell {
    
          @include media-query($AED-500) {
            height: calc(100vw * 0.73) !important;
          }
        }

        .w16,
        .w20,
        .w15,
        .w33,
        .w66,
        .w75 { 
          display:inline-block;
          vertical-align:middle;
          height: calc(50vw * 0.6704893);
          margin:0 -2px 0 -2px;
          margin: 0 18px 40px 18px;

          background-size:cover;
          background-position:center;
          background-repeat:no-repeat;
       }
       .w100 { 
          display:block;
          width: calc(100vw - 100px);

          background-size:cover;
          background-position:center;
          background-repeat:no-repeat;
        }
        .w100.noGutter,
        .fullWidth.noGutter {
          width:100%;
          width:100vw;
        }

        .w16  { width: 16%  }
        .w20  { width: 20%  }
        .w25  { width: 25%  }
        .w33  { width: 33%  }
        .w66  { width: 66%  }
        .w75  { width: 75%  }


        .halfWidth {
          display: inline-block;
          vertical-align:middle;
          width: 50%;
          width: 50vw;
          height: calc(50vw * 0.6704893);
          float: left;
          // CP-86 Adding new 50px wide borders to the site
          // and centering around the homepage mockup from
          // Kate where this is illustrated -ae 
          width: calc(50vw - 50px);
          height: calc((50vw - 50px) * 0.6704893);
          float:none;
          margin:0 -2px 0 -2px;

          background-color: #fafafa;
          border: 0px solid #fff;

          background-size:cover;
          background-position:center;
          background-repeat:no-repeat;
          @include media-query($AED-500) {
            width:100vw;
            height:calc(100vw * 0.68);
          }

        }
        .halfWidth,
        .halfWidth.leftHalf,
        .halfWidth.rightHalf {
          width: calc(50vw - 70px);
          height: calc((50vw - 70px) * 0.6704893);
          float: none;
          margin: 0 18px 40px 18px;
          @include media-query($AED-500) {
            width:100vw;
            height:calc(100vw * 0.68);
            margin:0 auto;
          }

        }
        .halfWidth.leftHalf {
          
        }
        .halfWidth.rightHalf {

        }

        #homeHero .ColCell:after {
          content:'';
          clear:both;
          float:none;
        }

        #homeHero #heroLeft {}

        #homeHero #heroRight {
          position:relative;
        }

  #shopify-section-home-hero-threesome {

  }
    #shopify-section-home-hero-threesome section#homeHeroThreesome {
      text-align: center;
    }

      .ColCell.w100,
      .ColCell.fullWidth,
      #heroThreesomeFullWidth {
        display:block;
        margin:0 auto 40px auto;
      }

        .adjustableCTA,
        #adjustableCTA {
          display:block;
          width:100%;
          height:100%;
          position: relative;
          text-align:right;
          padding: 40px;
          @include media-query ($AED-500) {
            text-align:center;
          }
        }

          div.adjustableCTA:after,
          div#adjustableCTA:after {
              content: '';
              display: inline-block;
              vertical-align: middle;
              width: 0.1px;
              height: 100%;
          }
          
          #home_hero_cta_content {
            display: inline-block;
            vertical-align: middle;
            width: 15em;
            text-align: center;
            margin: 0 1.1em 0 0;
            padding-left: 0;
            position: relative;
            right: -9px;
            @include media-query ($AED-500) {
              margin: 0 auto 0 auto;
              right:inital;
            }
          }
          
          .home_hero_cta_content {
            display: inline-block;
            vertical-align: middle;
            width: 15em;
            text-align: center;
            // margin: 0 1.1em 0 0;
            margin: 0 0 0 0;
            padding-left: 0;
            position: relative;
            right: 0;
            z-index:10;
            @include media-query ($AED-500) {
              margin: 0 auto 0 auto;
              right:inital;
            }
          }

          html.wireframe .home_hero_cta_content,
          html.wireframe #home_hero_cta_content {
            box-shadow:0px 0px 3px 3px orange;
          }

            .home_hero_cta_content img,
            #home_hero_cta_content img {
              display:inline-block;
              width:1.15em;
              position:relative;
            }
            .home_hero_cta_content h3,
            #home_hero_cta_content h3 {
              display: block;
              width: 100%;
              margin: 0.5em auto 0px auto;
              color: #fff;
              font-family: $font_stack_headline_tag;
              // font-size: 2.2rem;
              font-size: 1.1em;
              line-height: 1;
              line-height: 0.9em;
              font-weight: 100;
              letter-spacing: 0.1em;
            }
            .home_hero_cta_content h3 {
              font-size: 0.65rem;
            }
            @media(max-width:1024px){
            #home_hero_cta_content h3 {
              // font-size:1rem;
            }
            }
            @media(max-width:1280px){
            #home_hero_cta_content h3 {
              // font-size:1.2rem;
            }
            }
            @media(max-width:1440px){
            #home_hero_cta_content h3 {
              // font-size:1.5rem;
            }
            }

            .home_hero_cta_content .rte-setting,
            #home_hero_cta_content .rte-setting {
              display:block;
              width:100%;
              margin:0.4em auto 0px auto;
            }
              #home_hero_cta_content .rte-setting:before {
                content: '';
                display: block;
                width: 71%;
                height: 1px;
                background-color: rgba(255,255,255,0.3);
                // min-width: 300px;
                margin: 0 auto 0.7em auto;
              }
              .home_hero_cta_content .cta_line_separator {
                display: block;
                width: 71%;
                height: 1px;
                // background-color: rgba(255,255,255,0.3);
                margin: 20px auto 20px auto;                
              }
              #home_hero_cta_content .rte-setting p {
                display: block;
                width: 100%;
                position: relative;
                color: #fff;
                font-family: $font_stack_headline_tag;
                // font-size: 1.8rem;
                font-size: 1.05em;
                margin: 0;
                line-height: 1;
                line-height: 0.4em;
                font-style: italic;
              }
              .home_hero_cta_content .rte-setting p {
                display: block;
                width: 100%;
                position: relative;
                color: #fff;
                font-family: inherit;
                font-size: 0.5rem;
                margin: 0;
                line-height: 1;
                // line-height: 0.4em;
                // font-style: italic;
              }
              @media(max-width:1024px){
              #home_hero_cta_content .rte-setting p {
                // font-size:1rem;
              }
              }
              @media(max-width:1280px){
              #home_hero_cta_content .rte-setting p {
                // font-size:1.2rem;
              }
              }
              @media(max-width:1440px){
              #home_hero_cta_content .rte-setting p {
                // font-size:1.4rem;
              }
              }

              .home_hero_cta_content .rte-setting a,
              #home_hero_cta_content .rte-setting a {
                display: inline-block;
                width: auto;
                background-color: #fff;
                color: #0c305f;
                text-decoration: none;
                padding: 13px 27px 10px;
                padding: 1.3em 4em 1.28em;
                font-weight: 800;
                font-size: 0.25em;
                font-family: $font-stack-body;
                font-style: initial;
              }
              #home_hero_cta_content .rte-setting a {
                margin: 12em auto 0px auto;
              }
              .home_hero_cta_content .rte-setting a {
                // display: inline-block;
                // width: auto;
                // background-color: #fff;
                // color: #0c305f;
                // text-decoration: none;
                // padding: 13px 27px 10px;
                // padding: 1.3em 4em 1.28em;
                // font-weight: 800;
                height: auto;
                margin: 40px auto 0px auto;
                padding: 13px 27px 13px;
                font-size: 0.45rem;
                font-family: inherit;
                font-style: initial;
              }

              #home_hero_cta_content .rte-setting a:hover {
                background-color: #0c305f !important;
                color: #fff !important;
                transition: all 0.09s ease-in-out 0s !important;
              }
              #home_hero_cta_content .rte-setting a:active {
                background-color: #0c305f !important;
                color: #fff !important;
                transition: all 0.06s linear 0s !important;
                transform: scale(0.98) !important;
              }

            /*
            #adjustableCTA img {
              display: block;
              width: 40.6vw;
              height: auto;
              position: absolute;
              top: 11.6vw;
              right: 7.7vw;
              opacity: 1;
              // filter: invert(1);
              // CP-86 adjusting for the new 50px
              // site borders.
              width: calc(40.6vw - 25px);
              top: calc(11.6vw - 25px);
              right: calc(7.7vw - 25px);

              @include media-query($AED-500){
                display:inline-block;
                width: 75vw;
                width: calc(100vw - 80px);
                height: auto;
                position: relative;
                top: 21.5vw;
                right: auto;
                opacity: 1;
                margin:0 auto;
              }
            }
            */

            html.wireframe #adjustableCTA img {
              transition:all 1s cubic-bezier(0.22, 1, 0.46, 1) 0s;
              border: 4px dashed purple;
            }

        #homeHeroHeadline {

        }

        .fullWidth.richText,
        main#MainContent .fullWidth.richText,
        main#MainContent #homeHeroHeadline .fullWidth.richText {
          text-align:center;
          height:auto;
          min-height:initial;
          padding:60px 80px;
          background-color:#fff;
        }
        main#MainContent #homeHeroHeadline .fullWidth.richText {
          padding:50px 80px 10px 80px;
        }

          .fullWidth.richText h1 {
            font-weight:100 !important;
          }
          .fullWidth.richText h2 {
            font-weight:100 !important;
          }

    a#is_block_clickable {
     display:block;
     width:100%;
     height:100%;
     position:absolute;
     top:0;
     right:0;
     bottom:0;
     left:0;
     z-index:1;
     cursor:pointer;
    }







































/* WE'VE GOT YOU Liquid Section
------------------------------------------------------ */

#shopify-section-weve-got-you {
  display:block;
  width:100%;
  position:relative;
  text-align:center;
  margin:0 auto 40px auto;
}
#shopify-section-weve-got-you * {
	text-align: center;
}

  #shopify-section-weve-got-you h2 {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 100;
    margin:120px auto 50px auto;

	max-width: 400px;
	color: #37616D;
	border-bottom: 1px solid #bbd4dc;
	// margin: 0 auto 60px auto;
	padding: 0 0 12px 0;    
  }

  #shopify-section-weve-got-you .custom-content {
    display:block;
    width:100%;
  }

    #shopify-section-weve-got-you .custom-content .WGY-Block {
      display:inline-block;
      // display:table-cell;
      vertical-align:middle;
      // width:33.3%;
      width:28%;
      margin:0 -3px 0 -3px;
      @include media-query($AED-500){
        width:100%;
        margin:0 0 0 0;
      }
    }
    html.wireframe #shopify-section-weve-got-you .custom-content .WGY-Block {
      width:33%;
      border:2px dashed green;
    }

      #shopify-section-weve-got-you .custom-content .WGY-Block .custom__item-inner {

      }
        #shopify-section-weve-got-you .custom-content .WGY-Block .custom__item-inner .WGY-Block-Wrap {

        }
          #shopify-section-weve-got-you .custom-content .WGY-Block .custom__item-inner .WGY-Block-Wrap .WGY-ImageHolder {
            display: block;
            width: 100%;
            height: calc(16vw - 50px);
            margin-bottom: 40px;
          }
          @media(max-width:768px) {
          #shopify-section-weve-got-you .custom-content .WGY-Block .custom__item-inner .WGY-Block-Wrap .WGY-ImageHolder {
            height: auto;
            min-height: calc(16vw - 50px);
          }
          }
          html.wireframe #shopify-section-weve-got-you .custom-content .WGY-Block .custom__item-inner .WGY-Block-Wrap .WGY-ImageHolder {
            border:1px dotted orange;
          }
            .WGY-Block-Wrap a {
                height: calc(16vw - 50px);
                width: calc(16vw - 50px);
                max-height: 50px;
            }
              .WGY-Block-Wrap a:after {
                display: inline-block;
                vertical-align: middle;
                content: '';
                width: 0.1px;
                height: 100%;
              }        
              #shopify-section-weve-got-you .custom-content .WGY-Block .custom__item-inner .WGY-Block-Wrap .WGY-ImageHolder img.custom__image {
                width: 40%;
                width: calc(16vw - 50px);
                display: inline-block;
                vertical-align: middle;                
              }
              @media(max-width:768px) {
              #shopify-section-weve-got-you .custom-content .WGY-Block .custom__item-inner .WGY-Block-Wrap .WGY-ImageHolder img.custom__image {
                min-width: 150px;
              }
              }
          
          #shopify-section-weve-got-you .custom-content .WGY-Block .custom__item-inner .WGY-Block-Wrap .rte-setting {

          }
            #shopify-section-weve-got-you .custom-content .WGY-Block .custom__item-inner .WGY-Block-Wrap .rte-setting p {
              display:block;
              width:100%;
              color:#0c305f;
            }
              #shopify-section-weve-got-you .custom-content .WGY-Block .custom__item-inner .WGY-Block-Wrap .rte-setting p a {
                display:block;
                width:100%;
                color:#0c305f;
              }














































/* Featured Product
------------------------------------------------------ */
.shopify-section-featured-collection {
	text-align:center;
}
	.product_wrap {
		display:inline-block;
		vertical-align:top;
		width:30vw;
		height:auto;
		margin: 0 0.1vw 3vw 0.1vw;
	}
	@media(max-width:768px){
	.product_wrap {
		width:45vw;
	}
	}
	@media(max-width:520px){
	.product_wrap {
		width:100%;
	}
	}

		.product_wrap img,
		.prod-image img {
		    display: block;
		    width: 90%;
		    height: auto;
		    margin: 0 auto 10px auto;
		    border-radius: 14px;
		    filter: brightness(1.35);
		    transition: filter 0.2s linear 0s;
		}
		.product_wrap:hover img,
		.prod-image:hover img {
		    filter: brightness(1);
		    transition: filter 0s linear 0s;
		}

		.product_wrap a,
		.product_wrap p {
			color:#0a0a0a;
		}
			.product_wrap a p {
				margin: 18px auto 0 auto;
			}


















/* owl carousel
------------------------------------------------------ */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
  cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* CSS3 Transitions */

.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x : 50%;
  -webkit-perspective-origin-y : 50%;
  -moz-perspective : 1200px;
  -moz-perspective-origin-x : 50%;
  -moz-perspective-origin-y : 50%;
  perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}

//AEDesign additions to the OWL base css
//AEDesign additions to the OWL base css
.owl-carousel .owl-wrapper-outer:before,
.owl-carousel .owl-wrapper-outer:after {
    content: '';
    display: block;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.1);
    z-index: 9999;
    pointer-events: none;
}

.owl-carousel .owl-wrapper-outer:before {
    top: 0;
    left: 0;

    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );

}

.owl-carousel .owl-wrapper-outer:after {
    top: 0;
    right: 0;

    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );

}

.product-collection-carousel .prod-image {
    padding: 0 10px;
}

.product-collection-carousel .prod-price {
    font-size: $font_size_small;
}

.product-collection-carousel .owl-controls {
  display:block !important;
  top: 38%;
  position: absolute;
  // width: 104%;
  width: 100%;
  left: 0%;
  z-index: 10;
  
  @include media-query($AED-500){
    display:none !important;
  }
}

.owl-buttons > div {
  color: #ffffff;
  border: 2px solid #000000;  
  background: #000000;
  padding: 3px 10px;
  font-family: $font-stack-header, FontAwesome; 
  font-size: 12px;
  display: inline-block;
  text-align: center;
  transition: all .25s ease-in-out;
}

.owl-buttons > div:hover {
  cursor: pointer;
  background: #ffffff;
  color: #000000;
}

.owl-prev {
  left: -40px;
  left: -4vw;
  position: absolute;
}

.owl-next { 
  right: -40px;
  right: -4vw;
  position: absolute;
}

.owl-prev:before {
  content:"\f104"
}

.owl-next:before {
  content:"\f105"
}

#mob-product-images .owl-controls {
    position: absolute;
    width: 57px;
    top: 0;
    right: 0;
    z-index: 5;
}

.owl-item .product-info {
  text-align:center;
}
  .owl-item .product-info a {
      text-decoration:none;
      color:#000;
      font-family: $font_stack_headline_tag;
      font-size: $font_size_h6;
      font-weight:100;
  }
    .owl-item .product-info a h3 {
      font-weight:100;
      font-family: $font_stack_headline_tag;
      font-size: $font_size_default;
      letter-spacing: 0.055rem;
      text-transform: uppercase;

    }

    .owl-item .product-info .price {
      display:none;
    }

// Styling to make the prev next btns into arrows.
.owl-buttons>div {
    color: #ffffff;
    border: 2px solid #000000;
    background: #000000;
    padding: 3px 10px;
    font-family: FontAwesome;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    transition: all .25s ease-in-out;
    background-color: transparent !important;
    border: 0px;
}
.owl-prev:before,
.owl-next:before {
  min-width:20px;
  min-height:20px;
}
.owl-prev:before {
    content: '';
    display: block;
    width: 2vw;
    height: 2vw;
    background: transparent;
    transform: rotate(45deg);
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-color: #000;
}
.owl-next:before {
    content: '';
    display: block;
    width: 2vw;
    height: 2vw;
    background: transparent;
    transform: rotate(45deg);
    border-right: 5px solid;
    border-top: 5px solid;
    border-color: #000;
}



/* ---------------------------- */

#shopify-section-featured-products-carousel .homepage-section {
	display: block;
    width: 100%;
    width: calc(100vw * 0.82);
    min-width: calc(100vw - 40px);
    padding: 40px 40px;
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    width: calc(100vw * 0.3);
    min-width: calc(100vw - 240px);
    padding: 120px 40px 80px 40px;
    position: relative;
    max-width: 1600px;
    max-width: 2250px;
    margin: 0 auto;
}

	#shopify-section-featured-products-carousel .homepage-section h2 {
		max-width: 400px;
		color: #37616D;
		border-bottom: 1px solid #bbd4dc;
		margin: 0 auto 60px auto;
		padding: 0 0 12px 0;    
		font-weight:100;
	}












































/* FAQ Page
------------------------------------------------------ */

body.page-template-page-faq {

}
	body.page-template-page-faq .content-area {
		width:50%;
		max-width: 768px;
		margin: 0px auto;
	}

	@media(max-width:768px){
	body.page-template-page-faq .content-area {
		width:calc(100vw - 40px);
		max-width: 768px;
		margin: 0px auto;
	}
	}

    .custom-content {

    }
      .custom__item {

      }
        .custom__item-inner--html {

        }
          .custom__item-inner--html h2 {
            display: inline-block;
            width: auto;
            min-height: 60px;
            text-align: center;
            padding: 0.45rem 0 0 80px;
            margin: 40px 0 -0.75rem 0;
            background-color: transparent;
            background-size: auto 40px;
            background-position: 0px center;
            background-repeat: no-repeat;
            vertical-align: middle;
            /*font-family: $font-stack-headline-tag;*/
            line-height: 3;
            /*font-size: $font_size_h2;*/
            font-weight: 100;
            letter-spacing: 0.09rem;
          }

			@media(max-width:768px){
			.custom__item-inner--html h2 {
              text-align:center;
              padding: 2.2rem 0 0 0;
              margin: 0 0 0rem 0;
              background-size: auto 2.2rem;
              background-position: center 0px;
             }
             }
          

            .custom__item-inner--html h2:before {

            }

          .custom__item-inner--text {
              // padding-left: 2.3rem;
          }
			@media(max-width:768px){
			.custom__item-inner--text {
                padding-left:0;
                text-align:left;
			}
			}

          .question-block {
            display:block;
            position:relative;
            margin-bottom:25px;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            touch-action: manipulation;
          }

		@media(max-width:768px){
          .question-block {
            display:block;
            position:relative;
            margin-bottom:1.65rem;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            touch-action: manipulation;
          }
          }

            .question-block h4 {
              display:block;
              cursor:pointer;
              text-transform:initial;
              /*font-size: $font_size_default;*/
              font-weight: 100;
              letter-spacing: 0.04rem;              
              transition:color 1.2s linear 0s;
              color:#000;
              position: relative;
              line-height: 1.2;
              margin-bottom: 20px;
              -webkit-appearance: none;
              -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
              touch-action: manipulation;
            }
            html.wireframe .question-block h4 {
              box-shadow:0px 0px 1px 1px pink;
            }
            .question-block h4::selection {
              /*background-color:transparent;*/
            }
            .question-block._open_ h4::selection {
              /*background-color:transparent;*/
              /*color:#408a9c;*/
            }
            .question-block._open_ h4 {
              color:#408a9c;
              transition:color 0.1s ease-in-out 0s;
            }
            .question-block h4:hover {
              color:#606060;
            }
            .question-block._open_ h4:hover {
              color:#408a9c;
            }

            .question-block .rte-setting {
              display:block;
              position:absolute;
              left:99999px;
              height: 0;
              overflow: hidden;              
            }
            .question-block._open_ .rte-setting {
              display:block;
              position: relative;
              left:0;
              height:auto;
              overflow:visible;
            }
            html.wireframe .question-block._open_ .rte-setting {
              box-shadow:0px 0px 2px 1px orange;
            }

              .question-block .rte-setting p {
                pointer-events:none;
                padding-left: 2.5rem;
                opacity:0;
                transition:opacity 0s ease 0s;
              }
				@media(max-width:768px){
	              .question-block .rte-setting p {
	                  padding-left:0;
	                 }
                 }

              .question-block._open_ .rte-setting p {
                pointer-events:initial;
                opacity:1;
                transition:opacity 0.23s ease 0.075s;
              }














form[role=search] {
	display:none;
	pointer-events:none;
}
html.wireframe form[role=search] {
    border: 6px dotted #ffcc00;
    display: block;
    position: absolute;
    top: 40px;
    left: 0px;
    background: rgba(255,255,255,0.1);
    color: #fff;
    pointer-events:initial;
}





#cartLinkContainer {
    border: 0px dotted #ffcc00;
    display: block;
    position: absolute;
    top:   70px;
    right: 50px;
    background: rgba(255,255,255,0);
    color: #fff;
}
._PROMO_2_LOADED_ #cartLinkContainer {
    top: 	100px;
}

@media(max-width: 768px) {
#cartLinkContainer {
    border: 0px dotted #ffcc00;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(255,255,255,0);
    color: #fff;
}
}
html.wireframe #cartLinkContainer {

}
	#cartLinkContainer a {
	    display: inline-block;
	    vertical-align: middle;
	    color: #FFFDE4;
	    margin: 0 2px 20px 2px;
	    padding: 5px 15px 5px 15px;
	    border: 1px solid #FFFDE4;
	    border-radius: 4px;
	    transition: all 0.63s ease 0s;
	}
	@media(max-width: 768px) {
	#cartLinkContainer a {
	    color: #FFFDE4;
	    margin: 0 2px 0px 2px;
	    padding: 5px 12px 5px 12px;
	    border: 0px solid #FFFDE4;
	    border-radius: 0px;
	    transition: all 0.63s ease 0s;
	}
	}












body.template-product {

}

	#productDetailSection {
		display:block;
		width:100%;
		position:relative;
		text-align:center;
		vertical-align:top;
	}

		body.template-product .col1,
		body.template-product .col2 {
			display:inline-block;
			vertical-align:top;
			// max-width:60%;
		}

		html.wireframe body.template-product .col1,
		html.wireframe body.template-product .col2 {
			box-shadow: inset 1px 1px 0px red;
		}

		body.template-product .col1 {
		    width: calc(60vw - 0px);
		    padding: 0 60px 0 0;
		}
		body.template-product .col2 {
			max-width:525px;
		    width: calc(39vw - 0px);
		    padding-right:80px;
		}


		@media(max-width: 666px) {
		body.template-product .col1,
		body.template-product .col2 {
			display: block;
			width: calc(100vw - 80px) !important;
			max-width: 100% !important;	
			padding: 0 !important;
			margin: 0 auto;
		}
		}


		#TitleAndPrice {
			color: #37616D;
			border-bottom: 1px solid #bbd4dc;
			margin: 0 auto 25px;
			padding: 0 0 11px 0;
		}
			#TitleAndPrice h1,
			#data_price_wrapper {
				display:inline-block;
				vertical-align: middle;
				width:auto;
				border: 0px solid;
			}
			#TitleAndPrice h1 {
			    line-height: 1;
			    padding: 0;
			    margin: 0;
			}
			#TitleAndPrice #data_price_wrapper {
				font-size: 18pt;
				line-height: 1;
				margin-left: 8px; 
				color: #0a0a0a;
				border-left: 0px dotted #bbd4dc; 
				padding-left: 8px;				
			}


		form#productAddToCartButton {
			padding: 18px 0 0 0;
		}

			label[for="Quantity"] {
				font-weight: 800;
				font-size: 8pt;				
			} 

			input#Quantity {
			    width: 64px;
			    padding: 10px 6px 10px 15px;
			    text-align: center;
			    margin: 0 0 30px 4px;
			}


			button#A2C_Submit_Button {
				background: #0a0a0a;
				color: #fafafa;
				font-size: 11pt;
				border: 0px;
				-webkit-appearance: none;
				padding: 10px 26px;
				border-radius: 5px;
				margin: 0 auto 0 7px;				
			}
			button#A2C_Submit_Button:hover {
							
			}
				button#A2C_Submit_Button span {
				    border-bottom: 1px solid transparent;
				}
				button#A2C_Submit_Button:hover span {
				    border-bottom: 1px solid #fafafa;
				}


			#socialSharingContainer {
				display:none;
			}
			html.wireframe #socialSharingContainer {
				display:block;
			}

































/* PRODUCT Detail Page
------------------------------------------------------ */

section#productSection-top {
  display:block;
  width:100vw;
  // min-height:calc(100vw * 0.3);
  height:auto;
  background-color: rgba(226, 233, 255, 0);
  position:relative;
}
html.wireframe section#productSection-top {
  background-color: rgba(226, 233, 255, 0.3);
}

  section#productSection-top:after {
    content: '';
    @extend .the40px100vwWidthExtend;

    bottom: 0;
    left: 0;
    border-top: 0px dashed red;
    z-index: 5;
    background: #fff;
    opacity: 1;
    // padding-top: 12px;
    // color: red;
    // font-size: 0.55rem;
    clear: both;
    float: none;
  }
  html.wireframe section#productSection-top:after {
    content: '40px';
    border-top: 1px dashed red;
    background: #ff000014;
  }

  #productMedia {
    display:inline-block;
    vertical-align:top;
    width:57vw;
    width:calc(40vw + 20px);
    // width: calc(53.4vw - 100px);// trying this
    height:100%;
    // height:$calcHeightDemo;
    height:auto;
    // float:left;
    border:1px dotted #fff;
    position:relative;
    margin-top:40px;
    padding-left:0px;
    @include media-query($AED-500) {
      display:block;
      width:100%;
      float:none;
      text-align:center;
      margin-bottom:40px;
      margin-top:0px;
    }
  }
	
	@media(max-width: 666px) {
	#productMedia {
		width:100%;
		float:none;
		padding:0;
	}
	}

  html.wireframe #productMedia {
    border:1px dashed #cacaca;
  }

    section#productMedia:after {
      content: '40px';
      display: block;
      width: 100%;
      height: 40px;
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: 1px dashed rgb(255, 0, 0);
      z-index: 99999;
      text-align: center;
      background: #ff000014;
      opacity: 1;
      padding-top: 12px;
      color: red;
      font-size: 0.55rem;    
    }

    #productMedia #breadcrumbs {
      display: block;
      display: none;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0;
      z-index: 2;
      border: 0px dashed limegreen;
      text-align: left;
      padding: 0 0 0 40px;
      height: 40px;

      @include media-query($AED-500) {

      }    
    }

    html.wireframe #productMedia #breadcrumbs {
      border-bottom:1px dashed limegreen;
    }

      #productMedia #breadcrumbs ul {
        list-style: none;
        display: block;
        padding: 0;
        margin: 0;
        line-height: 0;
        height: 100%;
        width: 100%;

        @include media-query($AED-500) {

        }
      }

        #breadcrumbs ul:after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          height: 100%;
          width: 0.1px;
        }

        #productMedia #breadcrumbs ul li {
          display:inline-block;
          vertical-align:middle;

          @include media-query($AED-500) {

          }
        }
           
          #productMedia #breadcrumbs ul li:after {
            content: '>';
            display: inline-block;
            vertical-align: middle;
            margin: 0 3px;
            font-size: 0.4rem;
            font-weight: 800;
          }

              html.wireframe #productMedia #breadcrumbs:hover ul:before {
                content: '12pt -- Weight = 400';
                @extend .theFontStatsExtend;
              }
               
              #productMedia #breadcrumbs ul li {

              }
                  #productMedia #breadcrumbs ul li a {
                    text-decoration:none;
                    color:#0a0a0a;
                  }

    #productThumbnails,
    #productMedia #productThumbnails {
      display: block;
      width: 6.5vw;
      width: calc(12vw - 44px);// trying this
      min-height: 60%;
      max-height: calc(100vh - 280px);
      // min-width: 120px;
      min-width: initial;
      position: relative;
      // position: absolute;
      top: 40px;
      // top: 80px;
      left: 0;
      overflow-y: auto;
      z-index: 2;
      float:left;

      @include media-query($AED-500) {
        display: block;
        width: 100%;
        min-height: auto;
        position: relative;
        top: 0px;
        left: 0;
        overflow-y: auto;
        z-index: 2;
        max-height: initial;        
      }    
    }

	@media(max-width: 666px) {
    #productThumbnails {
    	display:none;
    }
    }

      #productThumbnails ul {
        list-style: none;
        margin: 0px;
        padding-left: 14px;
        @include media-query($AED-500) {
          padding-left:0;
          display:block;
          width:100%;
          text-align:center;
        }
      }
        #productThumbnails ul li {
          display:block;
          width:100%;
          margin:0px 0px 20px 0px;
          border: 0px dashed rosybrown;
          @include media-query($AED-500) {
            display:inline-block;
            vertical-align:middle;
            width: 9.5vw;
            height: auto;
            margin: 0 1vw 0 1vw;
          }
        }
        html.wireframe #productThumbnails ul li {
          border: 1px dashed rosybrown;
        }

          #productThumbnails ul li a {
          }
          #productThumbnails ul li a.active {
          }

            #productThumbnails ul li a img {
              display:block;
              width:100%;
              // height:auto;
            }
            #productThumbnails ul li a.active img {
            	opacity: 0.5;
	          	box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
            }

  #productMainImage {
    display: block;
    width: 100%;    
    position:relative;
    z-index:1;
  }

    div#productMainImage:after {
        content: 'image area';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        background: rgba(255, 32, 32, 0.16);
        width: 100%;
        height: 100%;
        color: red;
        text-align: center;
        padding-top: 30%;
        font-size: 1.4rem;
        transition:all 0.3s ease 0s;
        transform:scale(0);
        opacity:0;
        pointer-events:none;
    }
    html.wireframe div#productMainImage:after {
      opacity:1;
      transform:scale(1);
    }

      #bigimage {
          display:block;
          width:100%;
          float: right;
          text-align: center;
      }

        #productMainImage img {
          width:100%;
          height:auto;
        }
        @media(max-width: 666px) {
        #productMainImage img {
          width:calc(100vw - 80px);
          height:auto;
        }
        }

  #productInformation {
    display:inline-block;
    vertical-align:top;
    width:43vw;
    width:40vw;
    width:calc(40vw - 52px);//trying this width out
    // height:100%;
    // padding-top:190px;
    float:left;
    height:auto;
    border:1px dashed #fff;
    background-color:#fff;
    // transition: all 0.4s ease 0s;

    @include media-query($AED-500) {
      width:100%;
      height:auto;
      float:none;      
    }

  }
  @media (min-height: 768px) {
  #productInformation {
    // height: calc(100vh - 280px);
  }
  }

  html._BOLD_IS_READY_ #productInformation {
    opacity: 1 !important;
    pointer-events: initial !important;
    transition: opacity 0.4s linear 0s;
  }

  html.wireframe #productInformation {
    border:1px dashed #cacaca;
    background-color:#eaeaea;
  }

    #productInformation:before {
      content:'';
      @extend .the40px100vwWidthExtend;
    }
    html.wireframe #productInformation:before {
      content:'40px';
      background-color:transparent;
      border-bottom:1px dashed red;
    }
    
      #productInformation form#productFormElem {

      }
        input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 30px #fff inset;
          -webkit-text-fill-color: #b47253 !important;
        }
        #productInformation form#productFormElem input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px #fff inset;
            -webkit-text-fill-color: #b47253 !important;
        }

        

      @media (min-height: 768px) {
      #productInformation form {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        width: 98.5%;
        width: calc(100% - 7.5px);
      }
      }
      html.wireframe #productInformation form {
        box-shadow: inset 0 0 1px 0 red;
      }

      @media (min-height: 768px) {
      #productInformation:after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 0.1px;
          height: 100%;
      }
      }
      html.wireframe #productInformation:after {
        box-shadow: 0 0 0px 1px blue;
      }

      #productInformation .row {
        display:block;
        width:100%;
        position:relative;
        margin:0 0 0px 0;
        border-bottom:1px dotted #fff;
        background-color: transparent;
        z-index:10;
        z-index:initial !important;
      }
      #productInformation #ROW_ALL_FINISHES.row {
        margin-bottom:10px;
        // min-height:40px;
      }
      #productInformation #ROW_SIZE.row {
        margin-bottom:50px;
        // z-index:1;
      }
        #productInformation #ROW_SIZE.row .field {
          position:relative;
          z-index:9999;
        }


      #productInformation .row:hover,
      #productInformation #ROW_SIZE.row:hover { 
        // z-index:11 !important;
      }
      #productInformation #ROW_BOLDOPTIONS.row {
        padding-bottom:40px;
      }

      html.wireframe #productInformation .row {
        border-bottom:1px dotted #2b2b2b;
      }

      #productInformation .titlePrice.row {
        display: block;
        width: 100%;
        overflow: visible;
        position: relative;
        text-align: center;
        max-width: 100%;
        z-index: 10;
        margin: 0px auto 12px auto;
      }
      html.wireframe #productInformation .titlePrice.row {
        border: 1px dashed blue;
      }

        #productInformation .titlePrice.row .stretchRow {
          display: block;
          width: calc(100% + 100px);
          height: auto;
          background-color: transparent;
          position: relative;
          top: 0px;
          left: -50px;
          margin: 0 0 0 0;
        }
        html.wireframe #productInformation .titlePrice.row .stretchRow {
          background-color: red;
          opacity:0.75;
        }

      #productInformation h1#productTitle.row {
        display: inline-block;
        vertical-align: middle;
        width: auto;
        margin: 0 0.116rem 0 0;
        border:0px solid;
      }

      #productInformation span.coords-total {
        display: inline-block;
        vertical-align: middle;
        width: auto;
        margin: 0 0px 0 0;
        border:0px solid;

        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.6em;
        letter-spacing: 0.055rem;      
      }
      html.wireframe #productInformation span.coords-total,
      html.wireframe #productInformation h1#productTitle.row {
          border:1px dotted blue;
      }

      #productInformation input[type=text] {
        display:block;
        width:60%;
        height: $gutter-default;
        width: $input-sizing-default;
        min-width: $input-sizing-default;
        max-width: $input-sizing-default;
        padding:8px 0px 8px 12px;
        margin: 0px auto;
        color:#b47253;
        text-align:center;
      }
      @media (min-width:1440px) {
      #productInformation input[type=text] {
        width:     $input-sizing-medium;
        min-width: $input-sizing-medium;
        max-width: $input-sizing-medium;
      }
      }
      #productInformation #ROW_COORDINATES input[type=text]::placeholder {
        position: relative;
        // top: -2px;
        // left: -6px;      

        text-align: center;
        // font-style: initial;
        // color: #333 !important;
        // font-size:0.4rem !important;
      }












































/* Gallery
------------------------------------------------------ */

#shopify-section-gallery {

}
	#shopify-section-gallery .custom-content {
		opacity: 1;
		display: block;
		width: calc(100vw * 0.3);
		min-width: calc(100vw - 240px);
		padding: 120px 40px 80px 40px;
		position: relative;
		max-width: 1600px;
		max-width: 2250px;
		margin: 0 auto;
	}


.custom__cell {
	display:inline-block;
	vertical-align: top;
	width:100%;
	// width: calc( ( 99vw - 80px ) / 3);
	// height:calc( ( 99vw - 80px ) / 3);
	border:1px solid #0a0a0a;
	text-align: center;
	overflow: hidden;

    border: 1px solid transparent;
    text-align: center;
    overflow: hidden;
    padding: 20px;	
}
html.wireframe .custom__cell {
    border: 1px solid #eaeaea;
}



	.custom__cell {
		display:inline-block;
		vertical-align:top;
		// width:30vw;
		// width:30%;
		height:auto;
		margin: 0 0.1vw 3vw 0.1vw;
	}
	@media(max-width:768px){
	.custom__cell {
		// width:45vw;
		// width:45%;
	}
	}
	@media(max-width:520px){
	.custom__cell {
		width:100%;
	}
	}


	
	.custom__cell__inner {
	    display: block;
	    width: 100%;
	    height: 100%;
	    border: 1px solid transparent;
	}
	html.wireframe .custom__cell__inner {
	    border: 1px solid red;
	}

		.custom__cell__inner__inner {
		    display: block;
		    width: 100%;
		    height: 100%;
		    border: 1px solid transparent;
		}
		html.wireframe .custom__cell__inner__inner {
		    border: 1px solid blue;
		}
 

			.custom__cell__inner__inner img.custom__image {
				display:block;
				width:100%;
				height:auto;
				cursor: pointer;
			}















	#galleryModal {
		display:none;
	}
	body._VIEWING_MODAL_ #galleryModal {
		display:block;
		width:100%;
		height:100%;
		background-color:rgba(255,255,255,0.95);
		text-align: center;
		position:fixed;
		top:0;
		left:0;
		z-index:100000;
		// cursor: url(images/_close_.png) 23 23, default !important;
		cursor: url('{{ "_close_.png" | asset_img_url: "47x" }}') 23 23, default !important;
	}
	div#galleryModal:before {
		content: '- close -';
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		color: #000;
		z-index: 999;
		padding: 17px 24px 30px 30px;
		border: 0px dotted rgba(0,0,0,0.1);
	}
		#galleryModal .inner {
			height:100%;
		}
			#galleryModal .inner .scroll {
				height:100%;
			}
			#galleryModal .inner .scroll:after {
			    content: '';
			    display: inline-block;
			    vertical-align: middle;
			    width: 1px;
			    height: 100%;
			}
			html.wireframe #galleryModal .inner .scroll:after {
				background-color: pink;
			}

				#galleryModal .inner .scroll img {
					position:relative;
					min-width: calc(50vw);
					max-width: calc(100vw - 80px);
					top: auto !important;
					display: inline-block;
					vertical-align: middle;
					opacity:0 !important;

					-webkit-transition-property: opacity !important;
					-webkit-transition-duration: .19165s !important;
					-webkit-transition-delay: 0s !important;
					-webkit-transition-timing-function: linear !important;
				}
				body._VIEWING_MODAL_._MODAL_DONE_ #galleryModal .inner .scroll img {
					opacity:1 !important;
				}
				
				#galleryModal .inner .scroll span {
					display:block;
					width:100%;
					color:#000;
					position:relative;
					opacity:0 !important;

					-webkit-transition-property: opacity !important;
					-webkit-transition-duration: .19165s !important;
					-webkit-transition-delay: 0s !important;
					-webkit-transition-timing-function: linear !important;
				}
				body._VIEWING_MODAL_._MODAL_DONE_ #galleryModal .inner .scroll span {
					opacity:1 !important;
				}





































/* CART Page
------------------------------------------------------ */
.cart {
  th,
  td {
    border: 0;
  }

  td {
    padding: $gutter-site-mobile 0;
  }

  th {
    font-weight: $font-weight-normal;
    padding: ($gutter-site / 2) 0;
  }

  .cart__meta {
    padding-right: 5px;
    padding-left: 10px;
  }
}

.cart__meta-text {
  padding: 5px 0;
  font-size: em($font-size-base - 2);
  font-style: italic;
}
  .cart__meta-text.extra {
    padding:0 0 5px 0;
    margin:-5px 0 0 0;
  }

.cart__qty-label {
  @include visually-hidden();
}

.cart__qty-input {
  text-align: center;
  width: 60px;
  padding-left: 5px;
  padding-right: 5px;

  @include media-query($small) {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.cart__edit {
  margin-top: 10px;
}

.cart__edit-text--cancel {
  .cart__edit--active & {
    display: none;
  }
}

.cart__edit-text--edit {
  display: none;

  .cart__edit--active & {
    display: block;
  }
}

.cart__edit-text--cancel,
.cart__edit-text--edit {
  pointer-events: none;
}

.cart__row {
  p {
    margin-bottom: 0;

    + p {
      margin-top: 10px;
    }
  }
}

.cart__subtotal-title {
  font-size: em($font-size-base + 2px);
}

.cart__subtotal {
  padding-left: $gutter-site / 2;

  @include media-query($medium-up) {
    padding-left: $gutter-site;
    min-width: 150px;
    display: inline-block;
  }
}

.cart__savings {
  padding-top: 18px;
}

.cart__savings-amount {
  padding-left: $gutter-site / 2;

  @include media-query($medium-up) {
    padding-left: $gutter-site;
    min-width: 150px;
    display: inline-block;
  }
}

.cart__footer {
  padding-top: $section-spacing-small;
}

.cart__update--large {
  margin-right: 10px;
}

.cart__continue--large {
  margin-right: 10px;
  // line-height: 1.2;
  line-height: 1rem;
}

.cart__shipping {
  font-style: italic;
  font-size: em($font-size-base - 2);
  padding: 18px 0 20px;
}

.cart-note__label,
.cart-note__input {
  display: block;

  @include media-query($small) {
    margin: 0 auto;
  }
}

.cart-note__label {
  margin-bottom: 15px;
}

.cart-note__input {
  min-height: 50px;
  width: 100%;

  @include media-query($small) {
    margin-bottom: 40px;
  }
}

.cart__image {
  max-height: 95px;
}

.cart__image-wrapper a {
  display: block;
  padding-right: $section-spacing-small / 2;

  @include media-query($medium-up) {
    padding-right: $section-spacing-small;
  }
}

@include media-query($medium-up) {
  .cart__image-wrapper {
    width: 130px;
  }

  .cart__meta {
    max-width: 300px;
  }

  .cart__remove {
    margin-top: 4px;
  }

  .cart__qty {
    text-align: center;
  }
}

@include media-query($small) {
  .cart {
    table {
      display: block;
      width: 100%;
    }

    thead {
      display: none;
    }

    tr,
    tbody {
      width: 100%;
    }

    tbody {
      display: block;
    }

    .cart__update-wrapper {
      display: none;
      padding-top: 0;
      padding-bottom: $gutter-site-mobile;
    }
  }

  .cart__update--show {
    td {
      padding-bottom: 10px;
    }

    .cart__update-wrapper {
      @include display-flexbox();
      @include align-items(center);
      @include justify-content(space-between);
      @include flex-wrap(wrap);
    }
  }

  .cart-flex {
    @include display-flexbox();
    @include flex-wrap(wrap);
    @include align-items(center);
  }

  .cart-flex-item {
    display: block;
    min-width: 0;
    @include flex(1 1 100%);
  }

  .cart__meta {
    @include flex(1 1 0%);
  }

  .cart__image-wrapper {
    @include flex(0 0 85px);
  }

  .cart__price-wrapper {
    @include flex(0 1 24%);
    text-align: right;
  }

  .cart__header {
    @include visually-hidden();
  }

  .cart-message {
    padding-top: 20px;
  }

  .cart__qty {
    padding: 0 10px;
  }

  .cart__qty-label {
    @include visually-shown();
    display: inline-block;
    vertical-align: middle;
    font-size: em(13);
    margin-right: 5px;
  }
}

.cart__continue-btn {
  .cart--no-cookies & {
    display: none;
  }
}

.cart--empty-message {
  .cart--no-cookies & {
    display: none;
  }
}

.cookie-message {
  display: none;
  padding-bottom: 25px;

  .cart--no-cookies & {
    display: block;
  }
}

.additional-checkout-buttons {
  margin-top: $gutter-site-mobile;

  // reset for paypal button
  input[type="image"] {
    padding: 0;
    border: 0;
    background: transparent;
  }
}

  





















footer {
	display:block;
	width:100%;
	padding:60px 0 15px 0;
	text-align: center;
	color:#37616D;
	background: #f4f4f4;
	box-shadow: 0 -1px 35px 29px rgba(244, 244, 244,1);	
}
	footer a {
		color:#37616D;
	}

	footer ul {
		display: block;
		width: 100%;
		margin: 10px auto 10px auto;
	}
		footer ul li {
			display: inline-block;
			margin: 0 0 0 0;
			padding: 3px 10px;
		}
		 footer ul li a {
		 	
		 }








/* Print
================================================== */
@media print {

	/* Hide elements */

}