{% if section.settings.title != blank %}
  <h2>{{ section.settings.title | escape }}</h2>
{% endif %}

{% for block in section.blocks limit: section.blocks.size %}
  <div {{ block.shopify_attributes }}>
    {%- assign collection = collections[block.settings.collection] -%}

    <div class="product_wrap featured">
      <a href="{% if collection == empty %}#{% else %}{{ collection.url }}{% endif %}">
        {% if collection.image != blank %}
          {{ collection | img_url: '480x480' | img_tag: collection.title }}
        {% elsif collection.products.first != blank %}
          {{ collection.products.first | img_url: '480x480' | img_tag: collection.title }}
        {% elsif collection == empty %}
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
        {% endif %}

        <p>
          {% if collection == empty %}
            {{ 'homepage.onboarding.collection_title' | t }}
          {% else %}
            {{ collection.title }}
          {% endif %}
        </p>
      </a>
    </div>      
  </div>
{% endfor %}

{% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
{% endif %}

{% schema %}
  {
    "name": "Collection list",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
