<div class="homepage-section no-fouc index-section featured-product-section" data-section-id="{{ section.id }}" data-section-type="homepage-products">
  {% assign collection = collections[section.settings.homepage-collection] %}
  {% assign prod_limit = section.settings.homepage-product-limit %}
  <div class="row">  
    {% if section.settings.title != blank %}
    <h2 class="desktop-12 tablet-6 mobile-3"><a href="{{ collection.url }}">{{ section.settings.title | escape }}</a></h2> 
    {% endif %}
    <div class="clear"></div>
    {% if section.settings.homepage-product-display == 'grid' %}
    {% include 'product-grid' with collection %}
    {% elsif section.settings.homepage-product-display == 'carousel' %}
    {% include 'product-carousel' with collection %}
    {% endif %}
  </div>  
</div>
<style>
  {% if section.settings.homepage-product-display == 'grid' %}
  .product-car { margin: 0; }
  {% endif %}

</style>
{% schema %}
{
  "name": "Featured products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured products"
    },
      {
        "type": "collection",
        "id": "homepage-collection",
        "label": "Choose a collection"
      },
      {
        "type": "range",
        "id": "homepage-product-limit",
        "min": 2,
        "max": 30,
        "step": 1,
        "label": "How many products",
        "default": 12
      },
      
      {
        "type": "select",
        "id": "homepage-product-display",
        "label": "Product layout",
		"default":"carousel",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "carousel",
            "label": "Carousel"
          }
        ]
      },
      {
        "type": "range",
        "id": "products-per-row",
        "min": 2,
        "max": 6,
        "step": 1,
        "label": "Products per row",
		"info": "Grid use only",
        "default": 4
      }      
    ],
  "presets": [
    {
      "name": "Featured products",
      "category": "Collections"
    }
  ]
  }
{% endschema %}
