
<div id="galleryModal" class="">
	<div class="inner">
		<div class="scroll"></div>
	</div>
</div>

<script type="text/javascript">

	/**
	/** GALLERY CLICKS
	/** •••••••••••••••••••••••••••••••••••• **/
	window.stupidIFRAMEfixThing = 0;
	function modalResize(_type) {
		
		// console.log('test from modalResize');

		// if	(_type==='iframe'){

		// } else {

			if(!_type){
				_type = 'img';
			}

			$('#galleryModal .inner .scroll '+_type+'').css({
			
				width:function(){
				
					// var newW = $(window).width() * 0.60;//500;
					var newW = window.bWidth * 0.60;//500;
					
					var test = parseInt($(this).height()/$(this).width() * newW) + 70;
					
					// console.log('test = '+test);
					// console.log('WH = '+window.bHeight);
					
					if (test > window.bHeight){
					
						console.log('test cam back positve');
						newW = (window.bHeight-44) * 0.58;
					}
					
					return newW;
				
				},

				height:function(){

					if(_type==='iframe'){
						
						var newW = window.bWidth * 0.60;//500;
						var newH = newW * 0.5625;
						return newH;

					} else {
						// return false;
					}

				},

				top:function(){
				
					var _this = $(this);
					var liveIMG = $('#galleryModal .inner .scroll '+_type+'');
					var liveH = liveIMG.height();
					
					var		newT = (($(window).height() - 44 - liveH) / 2)  ;//footer ->$('footer').outerHeight(true);
					
					// check for a span
					var capCheck = $(this).siblings('span');
					if(capCheck){
						capCheck.css({
							top:function(){
								var something = newT+15;
								return something;
							}
						})
					}	
					
					return	newT;
				
				}
			
			});		

		// }
		
	}


	$(document).ready(function(){

		$('body, #MainContent').on({
		
			click:function(e) {
			
				e.preventDefault();
		
				var _this = $(this);
				var type = 'img';
				var galleryModalElmt = $('#galleryModal');
				console.log('gallery item just clicked');
				
				$('body').addClass('_VIEWING_MODAL_');
				_this.parent().find('._ON').removeClass('_ON');
				_this.addClass('_ON');
				// if (!_this.hasClass('_ON')){
				// }
				

				if ( _this.hasClass('videoEmbed')){

					galleryModalElmt.addClass('videoEmbed');
					var iframeSRC = _this.find('iframe').attr('src');
					var modalIframe = $('<iframe src="'+iframeSRC+'" frameborder="0" allowfullscreen style="position:relative"></iframe>');
					// var modalIframe = $('<p>testing</p>')
					var modalLocation = $('#galleryModal .inner .scroll');
					if (window.stupidIFRAMEfixThing<1)
						modalIframe.appendTo(modalLocation);

					type = 'iframe';
					window.stupidIFRAMEfixThing = 1;


				// } else if ( _this.hasClass('photo')) {
				} else {

					galleryModalElmt.addClass('photo');
					
					if ($(this).hasClass('alignLeft')||$(this).hasClass('alignRight')||$(this).hasClass('alignCenter')||$(this).hasClass('custom__image')){
						var _thisSrc = _this.attr('src');
					} else {
						var _thisSrc = _this.find('img').attr('src');
					}
					
					
					var imgPkg = $('<img src="'+_thisSrc+'" />');
					$('#galleryModal .inner .scroll').html(imgPkg);

					//add a caption *if any
					if ($(this).hasClass('alignLeft')||$(this).hasClass('alignRight')||$(this).hasClass('alignCenter')){
						var capTitle = _this.attr('title');
					} else {
						var capTitle = _this.find('img').attr('title');
					}


					if(capTitle){
						var capPkg = $('<span>'+capTitle+'</span>');
						capPkg.appendTo($('#galleryModal .inner .scroll'));
					}
		
					type = 'img';

				}

				modalResize(type);				
				setTimeout(function(){
					$('body').addClass('_MODAL_DONE_');
				}, 80);
				
			}
		
		}, '.wrappedCell, .wrappedPhoto, .alignLeft, .alignRight, .alignCenter, .custom__image');


		$('#galleryModal').on({
		
			click:function(e) {

				console.log('action CLOSE from gallerynmodal click');			
				e.preventDefault();
				var _this = $(this);
				$('body').removeClass('_VIEWING_MODAL_ _MODAL_DONE_');
				$('#galleryModal').attr('class','');
				$('#galleryModal .inner .scroll').html('');
				window.stupidIFRAMEfixThing = 0;
				
			}
		
		}, $(this));

		/*
		var setupGalleryModal = function(theEvent, _this) {

			var GALLERY_MODAL_ELEM = document.getElementById('galleryModal');

			GALLERY_MODAL_ELEM.addEventListener('click', function(e){
	
				console.log('test from gallerymodal click');

				var htmlElm = document.getElementsByTagName('HTML')[0];
				htmlElm.classList.remove('_VIEWING_MODAL_');
				htmlElm.classList.remove('_MODAL_DONE_');
				// GALLERY_MODAL_ELEM.classList.remove(‘_MODAL_DONE_’);

			}, false);


		}
		setupGalleryModal();
		*/


	});// end doc ready

</script>