
<style>
  html._HOME_HERO_FONT_SCALED_ {

  }
    #home_hero_cta_content {
      opacity: 0;
      transition: opacity 0.67s ease 0.67s;
    }

    html._HOME_HERO_FONT_SCALED_ #home_hero_cta_content {
      opacity:1;
    }

</style>

<section id="homeHero" class="row">

    {% for block in section.blocks %}

      {% case block.type %}

        {% when 'text' %}

            {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}


              <div id="heroFullWidth" class="HERO_CELL_{{ forloop.index }} one ColCell fullWidth {% if block.settings.is_noGutter %}noGutter{% endif %}" style="background-image:url({{ block.settings.image | img_url: '1280x' }});">
                  <style>
                  .HERO_CELL_{{ forloop.index }}.ColCell {
                    padding-top:{{ block.settings.padding_top }}% !important;
                    padding-right:{{ block.settings.padding_right }}% !important;
                    padding-bottom:{{ block.settings.padding_bottom }}% !important;
                    padding-left:{{ block.settings.padding_left }}% !important;
                  }
                  </style>

                  {% case block.settings.is_absolute %}
                    {% when true %}
                    {%- assign cta_style_position = 'absolute' -%}
                    {%- assign cta_style_auto_horz = 'initial' -%}
                    {%- assign cta_style_auto_vert = 'initial' -%}
                    {% when false %}
                    {%- assign cta_style_position  = 'relative' -%}
                    {%- assign cta_style_auto_horz = block.settings.auto_align_horizontal -%}
                    {%- assign cta_style_auto_vert = block.settings.auto_align_vertical -%}
                    {% else %}
                    {%- assign cta_style_position = 'relative' -%}
                    {%- assign cta_style_auto_horz = block.settings.auto_align_horizontal -%}
                    {%- assign cta_style_auto_vert = block.settings.auto_align_vertical -%}
                  {% endcase %}

                  <div id="adjustableCTA">
                    <style>
                    .HERO_CELL_{{ forloop.index }} #adjustableCTA {
                      text-align: {{ cta_style_auto_horz }} !important;
                    }
                    </style>

                    <div class="home_hero_cta_content" style="">
                        <style>
                        .HERO_CELL_{{ forloop.index }}.ColCell .home_hero_cta_content {
                          {% if block.settings.is_absolute %} 
                            position:{{ cta_style_position }};
                            top:{{ block.settings.position_top }}%; 
                            left:{{ block.settings.position_left }}%;
                          {% endif %}
                          vertical-align:{{ cta_style_auto_vert }};
                          width:{{ block.settings.scaled_cta_width }}em !important;
                        }
                        </style>
                                  
                        {% if block.settings.show_map_marker %}
                          <img src="https://cdn.shopify.com/s/files/1/2594/1648/files/coordinates-collection-c-marker.png?7289580720587017618" />
                        {% endif %}

                        {% if block.settings.title != blank %}
                          <h3 style="font-family:{{ block.settings.font_first_line }}; font-size:{{ block.settings.cta_font_size_line_one }}; color:{{ block.settings.font_color_first }};">{{ block.settings.title | escape }}</h3>
                        {% endif %}


                        {% if block.settings.is_cta_line_separator %}
                        <div class="cta_line_separator" style="background-color:{{ block.settings.cta_line_separator_color }}; opacity:{{ block.settings.cta_line_separator_opacity }};"></div>
                        {% endif %}


                        {% if block.settings.text != blank %}
                        <div class="rte-setting">{{ block.settings.text }}</div>
                        <style>
                          .HERO_CELL_{{ forloop.index }} .rte-setting p {
                            font-family:{{ block.settings.font_second_line }}; 
                            font-size:{{ block.settings.cta_font_size_line_two }}; 
                            color:{{ block.settings.font_color_second }};
                          }
                          .HERO_CELL_{{ forloop.index }} .rte-setting p a {
                            color: {{ block.settings.font_color_third }} !important;
                            font-family:{{ block.settings.font_third_line }} !important;
                            background-color:{{ block.settings.cta_button_bg_color }} !important;
                            font-size:{{ block.settings.cta_font_size_line_three }} !important;
                            margin-top:{{ block.settings.cta_button_margin_top }}em !important;
                          }
                        </style>
                        {% endif %}
                    
                    </div>

                    {% if block.settings.is_block_clickable %}
                    <a href="{{ block.settings.cta_block_url }}" id="is_block_clickable" target="_parent"></a>
                    {% endif %}
                          

                  </div>


              </div>





        {% when 'html' %}
          {% if block.settings.code != blank %}
            {{ block.settings.code }}
          {% endif %}
      {% endcase %}



    {% endfor %}

</section>









<script type="text/javascript">

  var WindowLoadWidth = window.innerWidth;
  var baseCompareWidth = 1024; //parseInt(htmlElm.innerHTML.length);

  function HomeHero_FontSizing() {

    var htmlElm = document.getElementsByTagName('HTML')[0];
    var bodyElm = document.getElementsByTagName('BODY')[0];
    var maxThreshold = 100;
    var minThreshold = (window.innerWidth<769) ? 27 : 18;

    if (typeof (htmlElm) != 'undefined' && htmlElm != null) {

      var WindowCurrentWidth = window.innerWidth;

      if(bodyElm.classList.contains('template-index')){ // Home page specific

        // var adjustableCTA_Elm = document.getElementById('adjustableCTA');
        // var adjustableCTA_Elm = document.getElementById('MainContent');
        // var adjustableCTA_Elm = document.getElementById('homeHero');
        var adjustableCTA_Elm = document.getElementById('EM_FONT_SIZE_HERE');
        // var textToInnerWidthRatio_HomeHero = WindowCurrentWidth / WindowLoadWidth;
        var textToInnerWidthRatio_HomeHero = WindowCurrentWidth / baseCompareWidth;
        var possibleNewFontSize_HomeHero = (textToInnerWidthRatio_HomeHero * 30);
        // var newSize_HomeHero = possibleNewFontSize_HomeHero;
        var newSize_HomeHero = Math.min(possibleNewFontSize_HomeHero, maxThreshold);
        newSize_HomeHero = Math.max(newSize_HomeHero, minThreshold);
        adjustableCTA_Elm.style.fontSize = newSize_HomeHero + 'px';
        htmlElm.classList.add('_HOME_HERO_FONT_SCALED_');
        // console.log('WinLoadWidth='+WindowLoadWidth+' | WinCurWidth='+WindowCurrentWidth+' | Ratio='+textToInnerWidthRatio_HomeHero+' | NewSize='+newSize_HomeHero);

      }

    }
  }

  HomeHero_FontSizing();
  window.addEventListener('resize', HomeHero_FontSizing, true);
  setTimeout(HomeHero_FontSizing, 10);

</script>










{% schema %}
  {
    "name": "Home Hero Banner & CTA",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Home Hero CTA's"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
      {
       "type":    "header",
       "content":   "————————————————————"
      },
      {
        "type":   "header",
        "content":  "► CTA Global Settings",
        "info":   "Settings for the general CTA directive."
      },
      {
        "type":   "paragraph",
        "content":  "First, let's define what device this will be viewable on."
      },
      {
        "type": "checkbox",
        "id": "is_desktop",
        "label": "Show on desktop?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "is_mobile",
        "label": "Show on mobile?",
        "default": true
      },
      {
       "type":    "header",
       "content":   "————————————————————"
      },
          {
            "type":   "header",
            "content":  "► Background Image Settings",
            "info":   "Set the CTA's background image, the width, and if there's gutters."
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "• Set the CTA's Background Image:"
          },
          {
            "type": "select",
            "id": "image_size",
            "label": "CTA Width",
            "options": [
              {
                "value": "xxxsmall",
                "label": "16.663% wide (1/6th)"
              },
              {
                "value": "xxsmall",
                "label": "20% wide (1/5th)"
              },
              {
                "value": "xsmall",
                "label": "25% wide"
              },
              {
                "value": "small",
                "label": "33% wide (1/3rd)"
              },
              {
                "value": "medium",
                "label": "50% wide"
              },
              {
                "value": "large",
                "label": "66% wide (2/3rds)"
              },
              {
                "value": "xlarge",
                "label": "75% wide (3/4ths)"
              },
              {
                "value": "full",
                "label": "100% wide"
              }
            ],
            "default": "full"
          },
          {
            "type": "checkbox",
            "id": "is_noGutter",
            "label": "Stretch CTA imagery to edge of screen?",
            "default": false,
            "info": "Toggle the 50px white gutter on and off. Only works with CTA Width set to 100%."
          },        
      {
       "type":    "header",
       "content":   "————————————————————"
      },      
      {
       "type":    "header",
       "content":   "► Icon Options",
       "info":    "Adjust the settings for CTA Icons."
      },
      {
        "type": "checkbox",
        "id": "show_map_marker",
        "label": "Toggle the Coordinates Map Marker",
        "default": true
      },
      {
       "type":    "header",
       "content":   "————————————————————"
      },      
          {
       "type":    "header",
       "content":   "► CTA First Line(s) of text",
       "info":    "This section is for the First set of Headline text."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "value",
        "placeholder": "First line here"
      },
      {
        "type":   "select",
        "id":   "font_first_line",
        "label":  "Font face for first line of text.",
        "info":   "Here you can select custom Font Faces to render each section of this CTA.",
        "options":  [
          {
            "value":  "ambroise-std, Serif",
            "label":  "Ambroise",
            "group":  "Serif"
          },
          {
            "value":  "Avenir-Fallback, Avenir, sans-serif",
            "label":  "Avenir Next LTPro Regular",
            "group":  "Sans-Serif"
          },
          {
            "value":  "AvenirLTStdBlack, Avenir, sans-serif",
            "label":  "Avenir LTStd Black",
            "group":  "Sans-Serif"
          }
        ]
      },
      {
        "type": "select",
        "id": "cta_font_size_line_one",
        "label": "CTA First Line Font Size",
        "info":   "Adjust each line's font size. This is based off EM units, as the font sizing is dynamic. This is not to be confused with REM units used on the other CTA's.",
        "options": [
          {
            "value": "0.35em",
            "label": "0.35em (smallest)"
          },
          {
            "value": "0.5em",
            "label": "0.5em"
          },
          {
            "value": "0.75em",
            "label": "0.75em"
          },
          {
            "value": "1.1em",
            "label": "1.1em (Default Document Size H1)"
          },
          {
            "value": "1.25em",
            "label": "1.25em (H3)"
          },
          {
            "value": "1.5em",
            "label": "1.5em (H2)"
          },
          {
            "value": "1.75em",
            "label": "1.75em (H1)"
          },
          {
            "value": "2.6em",
            "label": "2.6em (largest)"
          }
        ],
        "default": "1.1em"
      },
      {
        "type": "color",
        "id": "font_color_first",
        "label": "Color of the first line's font.",
        "info":   "This will adjust the colors of the fonts used in this CTA.",
        "default": "#FFFFFF"
      },
      {
       "type":    "header",
       "content":   "————————————————————"
      },
      {
       "type":    "header",
       "content":   "► CTA Line Separator",
       "info":    "Adjust the color and opacity of the line separator."
      },
      {
        "type": "checkbox",
        "id": "is_cta_line_separator",
        "label": "Show the line separator?",
        "default": true
      },
      {
        "type": "color",
        "id": "cta_line_separator_color",
        "label": "Color of line separating headline from CTA body text",
        "default": "#FFFFFF"
      },
      {
        "type":      "range",
        "id":        "cta_line_separator_opacity",
        "min":       0,
        "max":       1,
        "step":      0.1,
        "unit":      "%",
        "label":     "Adjusts the opacity of the line.",
        "default":   1
      },
      {
       "type":    "header",
       "content":   "————————————————————"
      },      
          {
       "type":    "header",
       "content":   "► CTA Second Line(s) of text",
       "info":    "This section is for the Second set of Body text."
      },          
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>This is the Answer part to the Frequently Asked Question...</p>"
      },
      {
        "type":   "select",
        "id":   "font_second_line",
        "label":  "Font face for second line(s) of text.",
        "options":  [
          {
            "value":  "ambroise-std, Serif",
            "label":  "Ambroise",
            "group":  "Serif"
          },
          {
            "value":  "Avenir-Fallback, Avenir, sans-serif",
            "label":  "Avenir Next LTPro Regular",
            "group":  "Sans-Serif"
          },
          {
            "value":  "AvenirLTStdBlack, Avenir, sans-serif",
            "label":  "Avenir LTStd Black",
            "group":  "Sans-Serif"
          }
        ]
      },
      {
        "type": "select",
        "id": "cta_font_size_line_two",
        "label": "CTA 2nd Line Font Size",
        "options": [
          {
            "value": "0.35em",
            "label": "0.35em (smallest)"
          },
          {
            "value": "0.5em",
            "label": "0.5em"
          },
          {
            "value": "0.75em",
            "label": "0.75em"
          },
          {
            "value": "1.1em",
            "label": "1.1em (Default Document Size H1)"
          },
          {
            "value": "1.25em",
            "label": "1.25em (H3)"
          },
          {
            "value": "1.5em",
            "label": "1.5em (H2)"
          },
          {
            "value": "1.75em",
            "label": "1.75em (H1)"
          },
          {
            "value": "2.6em",
            "label": "2.6em (largest)"
          }
        ],
        "default": "1.1em"
      },
      {
        "type": "color",
        "id": "font_color_second",
        "label": "Color of the second font.",
        "default": "#FFFFFF"
      },
      {
       "type":    "header",
       "content":   "————————————————————"
      },
      {
       "type":    "header",
       "content":   "► CTA Line Three or Button",
       "info":    "This section os for the CTA link and button."
      },
      {
        "type": "checkbox",
        "id": "is_block_clickable",
        "label": "Is the whole CTA block clickable?",
        "default": true,
        "info": "...and if it is, list where the links supposed to take you in the next input:"
      },
      {
        "type": "text",
        "id": "cta_block_url",
        "label": "This Block's CTA links to:",
        "default": "value"
      },
      {
        "type":   "select",
        "id":   "font_third_line",
        "label":  "Font face for the third/CTA button.",
        "options":  [
          {
            "value":  "ambroise-std, Serif",
            "label":  "Ambroise",
            "group":  "Serif"
          },
          {
            "value":  "Avenir-Fallback, Avenir, sans-serif",
            "label":  "Avenir Next LTPro Regular",
            "group":  "Sans-Serif"
          },
          {
            "value":  "AvenirLTStdBlack, Avenir, sans-serif",
            "label":  "Avenir LTStd Black",
            "group":  "Sans-Serif"
          }
        ]
      },
      {
        "type": "select",
        "id": "cta_font_size_line_three",
        "label": "CTA Button Font Size",
        "options": [
          {
            "value": "0.35em",
            "label": "0.35em (smallest)"
          },
          {
            "value": "0.5em",
            "label": "0.5em"
          },
          {
            "value": "0.75em",
            "label": "0.75em"
          },
          {
            "value": "1.1em",
            "label": "1.1em (Default Document Size H1)"
          },
          {
            "value": "1.25em",
            "label": "1.25em (H3)"
          },
          {
            "value": "1.5em",
            "label": "1.5em (H2)"
          },
          {
            "value": "1.75em",
            "label": "1.75em (H1)"
          },
          {
            "value": "2.6em",
            "label": "2.6em (largest)"
          }
        ],
        "default": "1.1em"
      },
      {
        "type": "color",
        "id": "font_color_third",
        "label": "Color of the CTA font",
        "default": "#000000"
      },
      {
        "type":      "range",
        "id":        "cta_button_margin_top",
        "min":       0,
        "max":       50,
        "step":      0.5,
        "unit":      "em",
        "label":     "CTA Button's Top Margin",
        "info":      "Adjust the margin/space between the CTA text and the CTA button.",
        "default":   12
      },
      {
        "type": "color",
        "id": "cta_button_bg_color",
        "label": "CTA Button Background Color",
        "default": "#FFFFFF"
      },
      {
       "type":    "header",
       "content":   "————————————————————"
      },
      {
       "type":    "header",
       "content":   "► CTA Positioning",
       "info":    "Adjust how you want the actual CTA cluster orientated within the image block."
      },
      {
        "type": "checkbox",
        "id": "is_absolute",
        "label": "Position CTA manually?",
        "default": true,
        "info": "This will override the AUTO Align Settings"
      },
      {
        "type":      "range",
        "id":        "position_left",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "%",
        "label":     "Position from the Left",
        "default":   16
      },
      {
        "type":      "range",
        "id":        "position_top",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "%",
        "label":     "Position from the Top",
        "default":   40
      },
      {
        "type":      "range",
        "id":        "scaled_cta_width",
        "min":       10,
        "max":       32,
        "step":      0.5,
        "unit":      "em",
        "label":     "Scaled Width of CTA Text",
        "info":      "EM units are used so as to keep inline with the parent container's responsive scaling of the image and text inside it.",
        "default":   15
      },
      {
       "type":    "header",
       "content": "—(Manual Positioning » off)—"
      },
      {
        "type":   "paragraph",
        "content":  "• This next section allows to set the Auto Align features. This is just basically another way to move the CTA around inside the Block. These settings only work if Manual Positioning is unchecked."
      },
      {
        "type": "select",
        "id": "auto_align_horizontal",
        "label": "Auto Align - Horizontal",
        "options": [
          {
            "value": "left",
            "label": "Left Side"
          },
          {
            "value": "center",
            "label": "Dead Center"
          },
          {
            "value": "right",
            "label": "Right Side"
          }
        ],
        "default": "center"
      },
      {
        "type": "select",
        "id": "auto_align_vertical",
        "label": "Auto Align - Vertical",
        "options": [
          {
            "value": "top",
            "label": "Top Aligned"
          },
          {
            "value": "middle",
            "label": "Dead Center"
          },
          {
            "value": "bottom",
            "label": "Bottom Aligned"
          }
        ],
        "default": "middle"
      },
      {
        "type":      "range",
        "id":        "padding_left",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "%",
        "label":     "CTA block's left Padding",
        "info":       "Here you can adjust the padding surrounding the block. *Note, this only works when you have Auto Alignment turned on (Manual Positioning » off)",
        "default":   0
      },
      {
        "type":      "range",
        "id":        "padding_top",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "%",
        "label":     "CTA block's TOP Padding",
        "default":   0
      },
      {
        "type":      "range",
        "id":        "padding_bottom",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "%",
        "label":     "CTA block's BOTTOM Padding",
        "default":   0
      },
      {
        "type":      "range",
        "id":        "padding_right",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "%",
        "label":     "CTA block's RIGHT Padding",
        "default":   0
      }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home Hero Banner & CTA",
        "category": "Advanced layout",
        "blocks": [
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %} 