<section id="homeHeroHeadline" class="row">
  <div id="headlineFullWidth" class="one ColCell fullWidth richText" style="">


      {% if section.settings.section_title != blank %}
        <div class="text-center">
          <h1 class="">{{ section.settings.section_title | escape }}</h1>
        </div>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="text-center">{{ section.settings.text }}</div>
      {% endif %}




  </div>
</section>









{% schema %}
  {
    "name": "Home Headline",
    "class": "index-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Wide display"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Size",
        "default": "medium",
        "options": [
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home Headline",
        "category": "Text"
      }
    ]
  }
{% endschema %}
