<div id="productDetailSection" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">






  <div id="col1" class="col1 wireframe-green">


    <div class="wireframe">



      <div id="productMedia" class="w60">
        {% comment %}
        <div id="breadcrumbs">
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Bracelets</a></li>
            <li><a href=""></a>Legend Bracelet</li>
          </ul>
        </div>
        {% endcomment %}

        <div id="productMainImage">
        {% if featured_image != blank %}
          <div id="bigimage" style="position:relative; overflow:hidden;">
            <img id="mainimage" class="mainimage" src="{{ featured_image | img_url: '1280x', scale: 2 }}" alt="{{ featured_image.alt | escape }}" data-product-featured-image />
      
            {% comment %}
            testing the smart commits for WCBR
            testing the smart commits time and comment tracking feature.
            Not sure if we need this, or if it'll be useful in the future..? -ae
            Not sure if we need this, or if it'll be useful in the future..? -ae
            <img class="image-zoom" src="{{ featured_image | img_url: '480x480' }}" alt="{{ image.alt | escape }}" data-zoom="{{ featured_image | img_url: '1024x1024', scale: 2 }}">
            {% endcomment %}

          </div>
        {% endif %}
        </div>

      </div>
      <!-- end #productMedia -->


      <div id="productThumbnails">

        {% if product.images.size > 1 %}
          <ul>
            {% for image in product.images %}
              <li>
                {% if forloop.first == true %}

                <a class="active thumb clicker-thumb" href="{{ image.src | img_url: '1280x', scale: 2 }}" data-product-single-thumbnail>
                  <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" />
                </a>

                {% else %}

                <a class="thumb clicker-thumb" href="{{ image.src | img_url: '1280x', scale: 2 }}" data-product-single-thumbnail>
                  <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" />
                </a>

                {% endif %}

              </li>
            {% endfor %}
          </ul>
        {% endif %}

      </div>
      <!-- end productThumbnails -->





      <script>
        $(document).ready(function(){
            $('#productThumbnails').on({
              click: function(e) {
                e.preventDefault();

                $('#productThumbnails a').removeClass('active');
                $(this).addClass('active');

                $('#mainimage').attr('src', $(this).find('img').attr('src'));
              }
            }, 'a.thumb');
        });
      </script>



    </div>


  </div>







  <div id="col2" class="col2 wireframe-green">


    <div id="TitleAndPrice" class="wireframe">

      <h1>{{ product.title }}</h1>
      <!-- <p>{{ product.vendor }}</p> -->

      <div data-price-wrapper id="data_price_wrapper">
        <span data-product-price>
          {{ current_variant.price | money }}
        </span>

        {% if product.compare_at_price_max > product.price %}
          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <s data-compare-price>
            {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
            {% endif %}
          </s>
        {% endif %}
      </div>


    </div>







    <div class="wireframe">

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
        <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">




        <div class="rte wireframe">

          <p>{{ product.description }}</p>

        </div>




        <form action="/cart/add" method="post" enctype="multipart/form-data" id="productAddToCartButton">
          {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
              <div class="selector-wrapper js">
                <label for="SingleOptionSelector-{{ forloop.index0 }}">
                  {{ option.name }}
                </label>

                <select
                  id="SingleOptionSelector-{{ forloop.index0 }}"
                  data-single-option-selector
                  data-index="option{{ option.position }}">
                  {% for value in option.values %}
                    <option
                      value="{{ value | escape }}"
                      {% if option.selected_value == value %}selected="selected"{% endif %}>
                        {{ value }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            {% endfor %}
          {% endunless %}

          <select name="id" class="no-js" data-product-select>
            {% for variant in product.variants %}
              <option
                {% if variant == current_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
            {% endfor %}
          </select>




          <!-- <label for="Quantity">{{ 'products.product.quantity' | t }}</label> -->
          <label for="Quantity">Qty</label>
          <input type="number" id="Quantity" name="quantity" value="1" min="1">






          <button
            id="A2C_Submit_Button"
            type="submit"
            name="add"
            data-add-to-cart
            {% unless current_variant.available %}disabled="disabled"{% endunless %}>
              <span data-add-to-cart-text>
                {% if current_variant.available %}
                  {{ 'products.product.add_to_cart' | t }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </span>
          </button>
        </form>

      </div>

    </div>













    <div id="socialSharingContainer" class="wireframe">


      {% if section.settings.show_share_buttons %}
        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
      {% endif %}


    </div>




    {% unless product == empty %}
      <script type="application/json" data-product-json>
        {{ product | json }}
      </script>
    {% endunless %}



  </div>


</div>








{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      }
    ]
  }
{% endschema %}
