<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->


  <!--[if gte IE 9]>
    <style type="text/css">
    .gradient {
       filter: none;
    }
    </style>
  <![endif]-->


  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>


  <!-- <script src="https://use.typekit.net/svd4vkr.js"></script> -->
  <!-- <script>try{Typekit.load({ async: true });}catch(e){}</script> -->
  <link rel="stylesheet" href="https://use.typekit.net/udx5ptx.css">


  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">


  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>





  {% if template == 'index' %}
    {% section 'promo-number-two' %}
  {% endif %}



  <div id="opb">
    
    <div id="opb_01" class="opbCell">{% include 'currency-picker' %}</div>
    {% comment %}<br>$ USD | English</div>{% endcomment %}
    {% comment %}<div id="opb_02" class="opbCell">Promotional Text Banner (<em>omnipresent</em>)</div>{% endcomment %}
    
    <div id="opb_02" class="opbCell">
      {% section 'promo-bar-message' %}
    </div>

    <div id="opb_03" class="opbCell">
      {% section 'top-right-message' %}
    </div>

  </div>
  





  {% section 'header' %}



    <div class="content-area">
       <div class="site-main" id="sitemain">

        <main role="main" id="MainContent">
          <!-- <h1>CONTENT AREA</h1> -->
          {{ content_for_layout }}
        </main>

      </div>
    </div>

  {% section 'footer' %}


  <div id="bHeight" style="display:block; width:1px; height:100%; position:fixed; top:0; left:0; bottom:0; border:0px solid red;"></div>
  <div id="floor" style="display:block; width:100%; height:1px; position:relative; bottom:0; left:0; bottom:0; border:0px solid orange; float:left;"></div>


</body>


  {% include 'toggle-wireframe' %}


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116160786-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116160786-2');
</script>

<script>
(function(){
  // setTimeout(function(){
    // $('main, #homeShowcase, #homeShowcaseSlideText, aside, ._LEAVING_PAGE_, ._leaving_page_').removeClass('_LEAVING_PAGE_ _leaving_page_');
  // }, 245);
 })();
</script>


</html>
